@font-face {
  font-family:"Lexend";
  src: url(FNT/Lexend.woff2) format('woff2-variations');
}

@font-face {
  font-family:"Numerics";
  src: url(FNT/Numeric.woff2) format('woff2-variations');
  unicode-range: U+0030-0039;
}

@font-face {
  font-family:"Icons";
  src: url(FNT/Icons.woff2) format('woff2-variations');
}

:root {
  --oka-sans-font: Lexend, sans-serif;
  --oka-mono-font: Numerics, Lexend, monospace;
  --oka-icon-font: Icons;

  --bg: #eeeeee;
  --accent-bg: #f5f7ff;
  --bg-content: #ffffff;
  --text: #212121;
  --text-light: #585858;
  --border: #d8dae1;
  --accent: #0d47a1;
  --code: #d81b60;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;

  --primary: #00c300;
  --primary-alt: #009900;
  --secondary: #00aaff;
  --secondary-alt: #0077cc;

  --oka-background: #e3e3e3;
  --oka-content: #ffffff;
  --oka-border: #d3d3d3;
  --oka-text: #232323;
  --oka-text-light: #535353;

  --oka-marked: #deff00;        /* lime */
  --oka-disabled: #d3d3d3;      /* grey smoke */

  --oka-primary: #00c300;       /* green */
  --oka-primary-alt: #009900;   /* dark green */
  --oka-secondary: #00aaff;     /* blue */
  --oka-secondary-alt: #0077cc; /* dark blue */

  --oka-white: #ffffff;
  --oka-grey-subtle: #f3f3f3;
  --oka-grey-snow: #e3e3e3;
  --oka-grey-smoke: #d3d3d3;
  --oka-grey-silver: #b3b3b3;
  --oka-grey-medium: #939393;
  --oka-grey-hazy: #737373;
  --oka-grey-dim: #535353;
  --oka-grey-dark: #333333;
  --oka-grey-coal: #232323;
  --oka-grey-asphalt: #131313;
  --oka-black: #000000;

  --oka-lime: #deff00;

  --oka-green: #00c300;
  --oka-green-dark: #009900;

  --oka-blue: #00aaff;
  --oka-blue-dark: #0077cc;

  --oka-orange: #ff9900;
  --oka-orange-dark: #ee7700;

  --oka-red: #ff3333;
  --oka-red-dark: #e52e2e;
}

:root.dark {
  --bg: #212121;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-weight: unset;
}
/* Needed to make box-sizing behave te same across browsers */
/* Needed to make use of variable font thickness */

textarea,
select,
input,
progress {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
/* Reset default appearances */

html {
  /* font-size: 16px; */
}

.container {
  background: var(--oka-background);
  color: var(--oka-text);
  font-family: var(--oka-sans-font);
  font-size: 1rem;
  font-variation-settings: 'wght' 300;
  line-height: 1.5;
}

.container main {
  background: var(--oka-content);
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.25);
  margin: 4rem 0 4rem 0;
  padding: 2rem;
}

.container h1,
.container h2,
.container h3 {
  color: var(--oka-primary);
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.container h1 {
  font-size: 2rem;
  font-variation-settings: 'wght' 800;
  line-height: 1.25;
}

.container h2 {
  font-size: 1.5rem;
  font-variation-settings: 'wght' 700;
  line-height: 1.5;
}

.container h3 {
  font-size: 1rem;
  font-variation-settings: 'wght' 600;
  line-height: 1.5;
}

img {
  border-radius: .5rem;
  border: 2px solid var(--oka-border);
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.25);
  width: 100%;
}

.column {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.column article {
  flex: 1;
}

.column article * {
  margin-bottom: 1rem;  
}

.column article *:last-child {
  margin-bottom: 0;  
}

.column article table {
  width: 100%;  
}

.container table {
  border-collapse: separate;
  border-radius: .5rem;
  border-spacing: 0px;
  border: .5rem solid var(--bg-content);
  margin: 0 auto 1rem auto;
  max-width: 100%;
  min-width: 66%;
  outline: 2px solid var(--oka-border);
  position: relative;
}

th {
  background: var(--oka-content);
  border-bottom: 2px solid var(--oka-primary);
  font-variation-settings: 'wght' 400;
  height: 2rem;
  position: sticky;
  text-align: center;
  top: 0;
}
/* top: 0; is needed for stickiness */

/* th:first-child {
  color: var(--primary);
} */

td {
  font-family: var(--oka-mono-font);
  border-bottom: 1px solid #EEEEEE;
  height: 2rem;
}

td.right {
  text-align: right;
}

tr:last-child td{
  border-bottom: none;
}

ol {
  counter-reset: list;
  list-style-type: none;
  padding-left: 1.5rem;
}

ol li::before {
  counter-increment: list;
  content: counters(list, ".", decimal);
  font-variation-settings: 'wght' 600;
  color: var(--primary);
  display:inline-block;
  position:relative;
  margin: 0 .5rem 0 -1.25rem;
}

ol ol {
  padding-left: 1.25rem;
  /* counter-reset: lists; */
}

/* ol ol li::before {
  counter-increment: lists;
  content: counters(list,".") " ";
} */

ul {
  list-style: none;
  padding-left: 1.5rem;
}

ul li::before {
  content: '\F0765';
  font-family: var(--icon-font);
  color: var(--primary);
  height: 0;
  margin-left: -1.25rem;
  font-size: .75rem;
  line-height: 2.125;
  display:block;
  position:relative;
}

ul ul {
  padding-left: 1.25rem;
}

ul ul li::before {
  content: '\F0766';
  /* F0EC2 */
  font-family: var(--icon-font);
  color: var(--primary);
}

p {
  margin: 0 0 1.5rem 0;
}

a {
  color: var(--primary);
  font-variation-settings: 'wght' 400;
  text-decoration-thickness: 2px;
  text-underline-offset:.125em;
}
/* text-decoration-thickness has partial support */

a::after {
  content: '\F0054';
  font-family: var(--icon-font);
  position:relative;
  display: inline-block;
  top: .125rem;
  left: .125rem;
}

a[target="_blank"] {
  color: var(--secondary);   
}

a[target="_blank"]::after {
  content: '\F005C';
  font-family: var(--icon-font);
  position:relative;
  display: inline-block;
}

a[href^="#"]::after {
  content: '\F0140';
}
/* F0045 */

a[href^="mailto:"]::after {
  content: '\F01F0';
}

a:hover {
  color: var(--primary-alt);
}

a[target="_blank"]:hover {
  color: var(--secondary-alt);   
}

b,
strong {
  font-variation-settings: 'wght' 600;
}

i,
em {
  font-variation-settings: 'wght' 400;
}

u {
  font-variation-settings: 'wght' 400;
  text-decoration-thickness: 2px;
  text-underline-offset:.125em;
}

s {
  color:red;
  font-variation-settings: 'wght' 400;
  text-decoration-thickness: 2px;
}

sub {
  color:green;
}

sup {
  color:green;
}

.steps {
  counter-reset: steps;
  display: flex;
  flex-direction: column;
}

.steps .steps {
  margin: 0 2rem;
  counter-reset: stepsz;
}

.steps article {
  display: flex;
  flex-direction: row;
  border-top: 2px solid var(--border);
  padding: 1rem 0 1rem 0;
}

.steps article::before {
  counter-increment: steps;
  content: counters(steps,".");
  display: block;
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--primary);
  font-variation-settings: 'wght' 600;
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
  color: white;
}

.steps .steps article::before {
  border:.25rem solid var(--primary);
  color: var(--primary);
  background: var(--bg-content);
  line-height: 2;
  font-size: 1.25rem;
  counter-increment: stepsz;
  content: counter(steps) "." counter(stepsz);
}

.steps div {
  width: calc(50% - 4rem);
  margin-left: 4rem;
}

.steps img {
  width: 50%;
  height: auto;
  object-fit: contain;
  object-position: 50% 0;
}

.tabs {
  position: relative;
}
/* 'position: relative' is needed for the ::after pseudo element to position correctly */

.tabs::before {
  background: linear-gradient(to right, white 0, transparent .5rem, transparent calc(100% - .5rem), white 100%);
  content: "";
  display: block;
  height: 4rem;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.tabs>section:first-child {
  display: flex;
  border-bottom: 2px solid var(--bg);
  overflow: hidden hidden;
}




.tabs>section:first-child button {
  background: var(--bg-content);
  border: none;
  cursor: pointer;
  font-variation-settings: 'wght' 600;
  font: inherit;
  height: 3rem;
  margin: 0 .5rem;
  padding: .5rem;
  white-space: nowrap;
}

.tabs>section:first-child button:last-child {
  border-right: 0;
}


.tabs>section:first-child button.tab-active {
  color: var(--primary);
  border-bottom: 4px solid var(--primary);
  padding-bottom: calc(.5rem - 4px);
}


.tabs>section:first-child:focus {
  outline: none;
}

.tabs article {
  padding: 1rem;
  display: none;
  border: none;
  /* background: #f9f9f9; */
  min-height: 8rem;
  /* transition: height 4s ease; */
}


.tabs article:last-child {
  border: none;
}

.tabs article>h3 {
  margin: 0 0 1.5rem;
  padding: 0;
  cursor: pointer;
  position: relative;
  display: none;
}

.tabs article>h3:hover {
  background: #d3e1ff;
}

.tabs article>div {
  padding: 0;
  height: 0;
  display: block;
  overflow: hidden;
  /* opacity: 0; */
  /* transition: opacity 1s ease; */
  animation-name: oka-opacity;
    animation-duration: 300ms;
    animation-direction: reverse;
}
.tabs article.tab-active {
  display: block;
}

.tabs article.tab-active h3 {
  padding-bottom: 0;
  cursor: inherit;
}

.tabs article.tab-active h3:hover {
  background: none;
}

.tabs article.tab-active div {
  padding: 0;
  height: auto;
  /* opacity: 1; */
}

.tabs article.tab-active p p:first-child {
  margin-top: 0;
}

.tabs article.tab-active p p:last-child {
  margin-bottom: 0;
}

@keyframes oka-opacity {
  from {
      opacity: 1;
  }
  1% {
      opacity: 1;
  }
  99% {
      opacity: 0;
  }
  to {
      opacity: 0;
  }
}

@media only screen and (max-width: 768px) {

  .column {
    flex-direction: column;
  }
  
  .steps article {
    flex-direction: column;
  }

  .steps div {
    width: calc(100% - 4rem);
  }
  
  .steps img {
    width: 100%;
  }
  
  .tabs>section:first-child {
    display: none;
  }

  .tabs article {
    border-bottom: 1px solid #eaeaea;
    display: block;
    min-height:3rem;
    /* max-height:5rem;
    transition: max-height .1s ease-in; */
    overflow: hidden;
  }

  .tabs article.tab-active {
    /* max-height: 128rem;
   
    transition: max-height .1s ease-out;
    transition-delay: .2s; */
  }

  .tabs article>h3 {
    display: block;
    margin:0;
  }

  .tabs article h3, .tabs article div {
    padding: 1.25rem;
  }

  .tabs article>div {
    padding: 0;
    height: 0;
    transition: opacity 1s ease;
  }
 
  .tabs article h3 {
    /* margin-bottom: 0; */
  }

  /* .tabs article.tab-active p {
    padding: 1.25rem;
  } */

  .tabs article>h3:after {
    content: '\F0419';
    font-family: var(--icon-font);
    position: absolute;
    right: 1.25rem;
    opacity: 1;
    transition: opacity 0.1s ease;
  }

  .tabs article.tab-active h3 {
    margin: 0 0 1.5rem;
  }

  .tabs article.tab-active h3:after {
    content: '\F0377';
  }

}