@font-face {
  font-family:"Lexend";
  src: url(FNT/Lexend.woff2) format('woff2-variations');
}

@font-face {
  font-family:"Numerics";
  src: url(FNT/Numeric.woff2) format('woff2-variations');
  unicode-range: U+0030-0039;
}

@font-face {
  font-family:"Icons";
  src: url(FNT/Icons.woff2) format('woff2-variations');
}

:root {
  --oka-sans-font: Lexend, sans-serif;
  --oka-mono-font: Numerics, Lexend, monospace;
  --oka-icon-font: Icons;

  --bg: #eeeeee;
  --accent-bg: #f5f7ff;
  --bg-content: #ffffff;
  --text: #212121;
  --text-light: #585858;
  --border: #d8dae1;
  --accent: #0d47a1;
  --code: #d81b60;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;

  --primary: #00c300;
  --primary-alt: #009900;
  --secondary: #00aaff;
  --secondary-alt: #0077cc;

  --oka-background: #e3e3e3;    /* grey-snow */
  --oka-content: #ffffff;       /* white */
  --oka-border: #e3e3e3;        /* grey-snow */
  --oka-text: #232323;          /* grey-coal */
  --oka-text-light: #535353;    /* grey-dim */

  --oka-marked: #deff00;        /* lime */
  --oka-disabled: #d3d3d3;      /* grey smoke */
  --oka-warning: #ff9900;       /* orange */
  --oka-error: #ff3333;         /* red */

  --oka-primary: #00c300;       /* green */
  --oka-primary-alt: #009900;   /* dark green */
  --oka-secondary: #00aaff;     /* blue */
  --oka-secondary-alt: #0077cc; /* dark blue */

  --oka-white: #ffffff;
  --oka-grey-subtle: #f3f3f3;
  --oka-grey-snow: #e3e3e3;
  --oka-grey-smoke: #d3d3d3;
  --oka-grey-silver: #b3b3b3;
  --oka-grey-medium: #939393;
  --oka-grey-hazy: #737373;
  --oka-grey-dim: #535353;
  --oka-grey-dark: #333333;
  --oka-grey-coal: #232323;
  --oka-grey-asphalt: #131313;
  --oka-black: #000000;

  --oka-lime: #deff00;

  --oka-green: #00c300;
  --oka-green-dark: #009900;

  --oka-blue: #00aaff;
  --oka-blue-dark: #0077cc;

  --oka-orange: #ff9900;
  --oka-orange-dark: #ee7700;

  --oka-red: #ff3333;
  --oka-red-dark: #e52e2e;
}

:root.dark {
  --bg: #212121;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-weight: unset;
}
/* Needed to make box-sizing behave te same across browsers */
/* Needed to make use of variable font thickness */

textarea,
select,
input,
progress {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
/* Reset default appearances */

.imbodycontentbackground h1,
.imbodycontentbackground h2,
.imbodycontentbackground h3,
.rn_Container .container h1,
.rn_Container .container h2,
.rn_Container .container h3 {
  color: var(--oka-primary);
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.imbodycontentbackground h1,
.rn_Container .container h1 {
  font-size: 2rem;
  font-variation-settings: 'wght' 800;
  line-height: 1.25;
}

.imbodycontentbackground h2,
.rn_Container .container h2 {
  font-size: 1.5rem;
  font-variation-settings: 'wght' 700;
  line-height: 1.5;
}

.imbodycontentbackground h3,
.rn_Container .container h3 {
  font-size: 1rem;
  font-variation-settings: 'wght' 600;
  line-height: 1.5;
}

.imbodycontentbackground img,
.rn_Container .container img {
  border-radius: .5rem;
  border: 2px solid var(--oka-border);
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.25);
  width: 100%;
}

.imbodycontentbackground .column,
.rn_Container .container .column {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.imbodycontentbackground .column article,
.rn_Container .container .column article {
  flex: 1;
}

.imbodycontentbackground .column article *,
.rn_Container .container .column article * {
  margin-bottom: 1rem;  
}

.imbodycontentbackground .column article *:last-child,
.rn_Container .container .column article *:last-child {
  margin-bottom: 0;  
}

.imbodycontentbackground .column article table,
.rn_Container .container .column article table {
  width: 100%;  
}

.imbodycontentbackground table,
.rn_Container .container table {
  border-collapse: separate;
  border-radius: .5rem;
  border-spacing: 0px;
  border: .5rem solid var(--bg-content);
  border-top: .25rem;
  border-bottom: .25rem;
  margin: 0 auto 1rem auto;
  max-width: 100%;
  min-width: 66%;
  outline: 2px solid var(--oka-border);
  position: relative;
}

.imbodycontentbackground table th,
.rn_Container .container table th {
  background: var(--oka-content);
  border-bottom: 2px solid var(--oka-primary);
  font-variation-settings: 'wght' 400;
  height: 2rem;
  position: sticky;
  text-align: center;
  top: 0;
}
/* top: 0; is needed for stickiness */

/* th:first-child {
  color: var(--primary);
} */

.imbodycontentbackground table td,
.rn_Container .container table td {
  border-bottom: 2px solid var(--oka-border);
  font-family: var(--oka-mono-font);
  height: 2rem;
}

.imbodycontentbackground table td.right,
.rn_Container .container table td.right {
  text-align: right;
}

.imbodycontentbackground table tr:last-child td,
.rn_Container .container table tr:last-child td {
  border-bottom: none;
}

.imbodycontentbackground table>thead+tbody tr:nth-child(odd),
.rn_Container .container table>thead+tbody tr:nth-child(odd) {
  background: var(--oka-grey-subtle);
}

.imbodycontentbackground ol,
.rn_Container .container ol {
  counter-reset: list;
  list-style-type: none;
  padding-left: 1.5rem;
}

.imbodycontentbackground ol li::before,
.rn_Container .container ol li::before {
  color: var(--oka-primary);
  content: counters(list, ".", decimal);
  counter-increment: list;
  display: inline-block;
  font-variation-settings: 'wght' 600;
  margin: 0 .5rem 0 -1.25rem;
  position: relative;
}

.imbodycontentbackground ol ol,
.rn_Container .container ol ol {
  padding-left: 1.25rem;
}

/* ol ol li::before {
  counter-increment: lists;
  content: counters(list,".") " ";
} */

.imbodycontentbackground ul,
.rn_Container .container ul {
  list-style: none;
  padding-left: 1.5rem;
}

.imbodycontentbackground ul li::before,
.rn_Container .container ul li::before {
  content: '\F0765';
  font-family: var(--oka-icon-font);
  color: var(--oka-primary);
  height: 0;
  margin-left: -1.25rem;
  font-size: .75rem;
  line-height: 2.125;
  display:block;
  position:relative;
}

.imbodycontentbackground ul ul,
.rn_Container .container ul ul {
  padding-left: 1.25rem;
}

.imbodycontentbackground ul ul li::before,
.rn_Container .container ul ul li::before {
  content: '\F0766';
  font-family: var(--oka-icon-font);
  color: var(--oka-primary);
}

.imbodycontentbackground p,
.rn_Container .container p {
  margin: 0 0 1.5rem 0;
}

.imbodycontentbackground a,
.rn_Container .container a {
  color: var(--oka-primary);
  font-variation-settings: 'wght' 400;
  text-decoration-thickness: 2px;
  text-underline-offset:.125em;
}
/* text-decoration-thickness has partial support */

.imbodycontentbackground a::after,
.rn_Container .container a::after {
  content: '\F0054';
  font-family: var(--oka-icon-font);
  position:relative;
  display: inline-block;
  top: .125rem;
  left: .125rem;
}

.imbodycontentbackground a[target="_blank"],
.rn_Container .container a[target="_blank"] {
  color: var(--oka-secondary);   
}

.imbodycontentbackground a[target="_blank"]::after,
.rn_Container .container a[target="_blank"]::after {
  content: '\F005C';
  font-family: var(--oka-icon-font);
  position:relative;
  display: inline-block;
}

.imbodycontentbackground a[href^="#"]::after,
.rn_Container .container a[href^="#"]::after {
  content: '\F0140';
}

.imbodycontentbackground a[href^="mailto:"]::after,
.rn_Container .container a[href^="mailto:"]::after {
  content: '\F01F0';
}

.imbodycontentbackground a:hover,
.rn_Container .container a:hover {
  color: var(--oka-primary-alt);
}

.imbodycontentbackground a[target="_blank"]:hover,
.rn_Container .container a[target="_blank"]:hover {
  color: var(--oka-secondary-alt);   
}

.imbodycontentbackground b,
.imbodycontentbackground strong,
.rn_Container .container b,
.rn_Container .container strong {
  font-variation-settings: 'wght' 600;
}

.imbodycontentbackground i,
.imbodycontentbackground em,
.rn_Container .container i,
.rn_Container .container em {
  font-variation-settings: 'wght' 400;
}

.imbodycontentbackground u,
.rn_Container .container u {
  font-variation-settings: 'wght' 400;
  text-decoration-thickness: 2px;
  text-underline-offset:.125em;
}

.imbodycontentbackground s,
.rn_Container .container s {
  color: var(--oka-error);
  font-variation-settings: 'wght' 400;
  text-decoration-thickness: 2px;
}

.imbodycontentbackground sub,
.imbodycontentbackground sup,
.rn_Container .container sub,
.rn_Container .container sup {
  color:  var(--oka-primary);
}

.imbodycontentbackground .steps,
.rn_Container .container .steps {
  counter-reset: step;
  display: flex;
  flex-direction: column;
}

.imbodycontentbackground .steps .steps,
.rn_Container .container .steps .steps {
  counter-reset: stepsub;
  margin: 0 2rem;
}

.imbodycontentbackground .steps article,
.rn_Container .container .steps article {
  border-top: 2px solid var(--oka-border);
  display: flex;
  flex-direction: row;
  padding: 1rem 0 1rem 0;
}

.imbodycontentbackground .steps article::before,
.rn_Container .container .steps article::before {
  background: var(--oka-primary);
  border-radius: 50%;
  color: white;
  content: counters(step,".");
  counter-increment: step;
  display: block;
  font-size: 2rem;
  font-variation-settings: 'wght' 600;
  height: 3rem;
  line-height: 1.5;
  position: absolute;
  text-align: center;
  width: 3rem;
}

.imbodycontentbackground .steps .steps article::before,
.rn_Container .container .steps .steps article::before {
  background: var(--oka-content);
  border:.25rem solid var(--oka-primary);
  color: var(--oka-primary);
  content: counter(step) "." counter(stepsub);
  counter-increment: stepsub;
  font-size: 1.25rem;
  line-height: 2;
}

.imbodycontentbackground .steps div,
.rn_Container .container .steps div {
  margin-left: 4rem;
  width: calc(50% - 4rem);
  display:block;
}

.imbodycontentbackground .steps img,
.rn_Container .container .steps img {
  height: auto;
  object-fit: contain;
  object-position: 50% 0;
  width: 40%;
}

.imbodycontentbackground .tabs,
.rn_Container .container .tabs {
  position: relative;
}
/* 'position: relative' is needed for the ::after pseudo element to position correctly */

.imbodycontentbackground .tabs::before,
.rn_Container .container .tabs::before {
  background: linear-gradient(to right, white 0, transparent .5rem, transparent calc(100% - .5rem), white 100%);
  content: "";
  display: block;
  height: 4rem;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.imbodycontentbackground .tabs>section:first-child,
.rn_Container .container .tabs>section:first-child {
  display: flex;
  border-bottom: 2px solid var(--oka-background);
  overflow: hidden hidden;
}

.imbodycontentbackground .tabs>section:first-child button,
.rn_Container .container .tabs>section:first-child button {
  background: var(--oka-content);
  border: none;
  cursor: pointer;
  font-variation-settings: 'wght' 600;
  font: inherit;
  height: 3rem;
  margin: 0 .5rem;
  padding: .5rem;
  white-space: nowrap;
}

.imbodycontentbackground .tabs>section:first-child button:first-child,
.rn_Container .container .tabs>section:first-child button:first-child {
  margin-left: 1rem;
}

.imbodycontentbackground .tabs>section:first-child button:last-child,
.rn_Container .container .tabs>section:first-child button:last-child {
  margin-right: 1rem;
  border-right: 0;
}

.imbodycontentbackground .tabs>section:first-child button.tab-active,
.rn_Container .container .tabs>section:first-child button.tab-active {
  color: var(--oka-primary);
  border-bottom: 4px solid var(--oka-primary);
  padding-bottom: calc(.5rem - 4px);
}

.imbodycontentbackground .tabs>section:first-child:focus,
.rn_Container .container .tabs>section:first-child:focus {
  outline: none;
}

.imbodycontentbackground .expands article,
.imbodycontentbackground .tabs article,
.rn_Container .container .expands article,
.rn_Container .container .tabs article {
  /* transition: height 4s ease; */
  border: none;
  display: none;
  min-height: 8rem;
  padding: 1rem;
}

.imbodycontentbackground .expands article:last-child,
.imbodycontentbackground .tabs article:last-child,
.rn_Container .container .expands article:last-child,
.rn_Container .container .tabs article:last-child {
  border: none;
}

.imbodycontentbackground .expands article>h3,
.imbodycontentbackground .tabs article>h3,
.rn_Container .container .expands article>h3,
.rn_Container .container .tabs article>h3 {
  cursor: pointer;
  margin: 0 0 1.5rem;
  padding: 0;
  position: relative;
}

.imbodycontentbackground .tabs article>h3,
.rn_Container .container .tabs article>h3 {
  display: none;
}

.imbodycontentbackground .expands article>h3:hover,
.imbodycontentbackground .tabs article>h3:hover,
.rn_Container .container .expands article>h3:hover,
.rn_Container .container .tabs article>h3:hover {
  background: var(--oka-grey-smoke);
}

.imbodycontentbackground .expands article>div,
.imbodycontentbackground .tabs article>div,
.rn_Container .container .expands article>div,
.rn_Container .container .tabs article>div {
  animation-direction: reverse;
  animation-duration: 300ms;
  /* opacity: 0; */
  /* transition: opacity 1s ease; */
  animation-name: oka-opacity;
  display: block;
  height: 0;
  overflow: hidden;
  padding: 0;
}
.imbodycontentbackground .expands article.tab-active,
.imbodycontentbackground .tabs article.tab-active,
.rn_Container .container .expands article.tab-active,
.rn_Container .container .tabs article.tab-active {
  display: block;
}

.imbodycontentbackground .expands article.tab-active h3,
.imbodycontentbackground .tabs article.tab-active h3,
.rn_Container .container .expands article.tab-active h3,
.rn_Container .container .tabs article.tab-active h3 {
  cursor: inherit;
  padding-bottom: 0;
}

.imbodycontentbackground .expands article.tab-active h3:hover,
.imbodycontentbackground .tabs article.tab-active h3:hover,
.rn_Container .container .expands article.tab-active h3:hover,
.rn_Container .container .tabs article.tab-active h3:hover {
  background: none;
}

.imbodycontentbackground .expands article.tab-active div,
.imbodycontentbackground .tabs article.tab-active div,
.rn_Container .container .expands article.tab-active div,
.rn_Container .container .tabs article.tab-active div {
  /* opacity: 1; */
  display: block;
  height: auto;
  padding: 0;
}

.imbodycontentbackground .expands article.tab-active p p:first-child,
.imbodycontentbackground .tabs article.tab-active p p:first-child,
.rn_Container .container .expands article.tab-active p p:first-child,
.rn_Container .container .tabs article.tab-active p p:first-child {
  margin-top: 0;
}

.imbodycontentbackground .expands article.tab-active p p:last-child,
.imbodycontentbackground .tabs article.tab-active p p:last-child,
.rn_Container .container .expands article.tab-active p p:last-child,
.rn_Container .container .tabs article.tab-active p p:last-child {
  margin-bottom: 0;
}

.imbodycontentbackground .tabs article.tab-active div section,
.rn_Container .container .tabs article.tab-active div section {
  opacity: 1;
  display: block;
  height: 32rem;
  padding: 0;
  position: relative;
  border: 10px solid black;
}

.imbodycontentbackground .expands article,
.rn_Container .container .expands article {
  border-bottom: 2px solid var(--oka-border);
  display: block;
  min-height: 3rem;
  /* max-height: 5rem; */
  /* transition: max-height .1s ease-in; */
  overflow: hidden;
}

.imbodycontentbackground .expands article>h3,
.rn_Container .container .expands article>h3 {
  display: block;
  margin: 0;
}

.imbodycontentbackground .expands article h3,
.imbodycontentbackground .expands article div,
.rn_Container .container .expands article h3,
.rn_Container .container .expands article div {
  padding: 1.25rem;
}

.imbodycontentbackground .expands article>div,
.rn_Container .container .expands article>div {
  height: 0;
  padding: 0;
  display: none;
  transition: opacity 1s ease;
}

.imbodycontentbackground .expands article>h3:after,
.rn_Container .container .expands article>h3:after {
  content: '\F0419';
  font-family: var(--oka-icon-font);
  opacity: 1;
  position: absolute;
  right: 1.25rem;
  transition: opacity 0.1s ease;
}

.imbodycontentbackground .expands article.tab-active h3,
.rn_Container .container .expands article.tab-active h3 {
  margin: 0 0 1.5rem;
}

.imbodycontentbackground .expands article.tab-active h3:after,
.rn_Container .container .expands article.tab-active h3:after {
  content: '\F0377';
}

@keyframes oka-opacity {
  from {
      opacity: 1;
  }
  1% {
      opacity: 1;
  }
  99% {
      opacity: 0;
  }
  to {
      opacity: 0;
  }
}

@media only screen and (max-width: 768px) {

  .imbodycontentbackground .column,
  .rn_Container .container .column {
    flex-direction: column;
  }
  
  .imbodycontentbackground .steps article,
  .rn_Container .container .steps article {
    flex-direction: column;
  }

  .imbodycontentbackground .steps div,
  .rn_Container .container .steps div {
    width: calc(100% - 4rem);
  }
  
  .imbodycontentbackground .steps img,
  .rn_Container .container .steps img {
    width: 100%;
  }
  
  .imbodycontentbackground .tabs>section:first-child,
  .rn_Container .container .tabs>section:first-child {
    display: none;
  }

  .imbodycontentbackground .tabs article,
  .rn_Container .container .tabs article {
    border-bottom: 2px solid var(--oka-border);
    display: block;
    min-height: 3rem;
    /* max-height: 5rem; */
    /* transition: max-height .1s ease-in; */
    /* overflow: hidden; */
  }

  .rn_Container .container .tabs article.tab-active {
    /* max-height: 128rem;
    transition: max-height .1s ease-out;
    transition-delay: .2s; */
  }

  .imbodycontentbackground .tabs article>h3,
  .rn_Container .container .tabs article>h3 {
    display: block;
    margin: 0;
  }

  .imbodycontentbackground .tabs article h3,
  .imbodycontentbackground .tabs article div,
  .rn_Container .container .tabs article h3,
  .rn_Container .container .tabs article div {
    padding: 1.25rem;
  }

  .imbodycontentbackground .tabs article>div,
  .rn_Container .container .tabs article>div {
    height: 0;
    padding: 0;
    transition: opacity 1s ease;
  }
 
  .rn_Container .container .tabs article h3 {
    /* margin-bottom: 0; */
  }

  /* .rn_Container .container .tabs article.tab-active p {
    padding: 1.25rem;
  } */

  .imbodycontentbackground .tabs article>h3:after,
  .rn_Container .container .tabs article>h3:after {
    content: '\F0419';
    font-family: var(--oka-icon-font);
    opacity: 1;
    position: absolute;
    right: 1.25rem;
    transition: opacity 0.1s ease;
  }

  .imbodycontentbackground .tabs article.tab-active h3,
  .rn_Container .container .tabs article.tab-active h3 {
    margin: 0 0 1.5rem;
  }

  .imbodycontentbackground .tabs article.tab-active h3:after,
  .rn_Container .container .tabs article.tab-active h3:after {
    content: '\F0377';
  }

}