@font-face {
  font-family:"Lexend";
  src: url(FNT/Lexend.woff2) format('woff2-variations');
}

@font-face {
  font-family:"Numerics";
  src: url(FNT/Numeric.woff2) format('woff2-variations');
  unicode-range: U+0030-0039;
}

@font-face {
  font-family:"Icons";
  src: url(FNT/Icons.woff2) format('woff2-variations');
}

:root {
  --oka-sans-font: Lexend, sans-serif;
  --oka-mono-font: Numerics, Lexend, monospace;
  --oka-icon-font: Icons;

  --bg: #eeeeee;
  --accent-bg: #f5f7ff;
  --bg-content: #ffffff;
  --text: #212121;
  --text-light: #585858;
  --border: #d8dae1;
  --accent: #0d47a1;
  --code: #d81b60;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;

  --primary: #00c300;
  --primary-alt: #009900;
  --secondary: #00aaff;
  --secondary-alt: #0077cc;

  --oka-background: #f3f3f3;    /* grey-subltle */
  --oka-content: #ffffff;       /* white */
  --oka-border: #e3e3e3;        /* grey-snow */
  --oka-text: #232323;          /* grey-coal */
  --oka-text-light: #939393;    /* grey-medium */

  --oka-marked: #deff00;        /* lime */
  --oka-disabled: #d3d3d3;      /* grey smoke */
  --oka-warning: #ff9900;       /* orange */
  --oka-error: #ff3333;         /* red */

  --oka-primary: #00c300;       /* green */
  --oka-primary-alt: #009900;   /* dark green */
  --oka-secondary: #00aaff;     /* blue */
  --oka-secondary-alt: #0077cc; /* dark blue */

  --oka-white: #ffffff;
  --oka-grey-subtle: #f3f3f3;
  --oka-grey-snow: #e3e3e3;
  --oka-grey-smoke: #d3d3d3;
  --oka-grey-silver: #b3b3b3;
  --oka-grey-medium: #939393;
  --oka-grey-hazy: #737373;
  --oka-grey-dim: #535353;
  --oka-grey-dark: #333333;
  --oka-grey-coal: #232323;
  --oka-grey-asphalt: #131313;
  --oka-black: #000000;

  --oka-lime: #deff00;

  --oka-green: #00c300;
  --oka-green-dark: #009900;

  --oka-blue: #00aaff;
  --oka-blue-dark: #0077cc;

  --oka-orange: #ff9900;
  --oka-orange-dark: #ee7700;

  --oka-red: #ff3333;
  --oka-red-dark: #e52e2e;
}

:root.dark {
  --bg: #212121;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-weight: unset;
}
/* Needed to make box-sizing behave te same across browsers */
/* Needed to make use of variable font thickness */

textarea,
select,
input,
progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* Reset default appearances */

body.cke_editable,
[id^=SPAN] .leftHardAlignment,
.rn_Container .container {
  font-family: var(--oka-sans-font);
  font-size: 1rem;
  color: var(--oka-text);
  font-variation-settings: 'wght' 300;
  line-height: 1.5;
}

/*
Below selectors are needed for standard elements

body.cke_editable              LIVE preview
[id^=SPAN] .leftHardAlignment  SAVED preview
.rn_Container .container       FRONT-END
*/



/*
-------------------------------------------------------
1. Base Styles
-------------------------------------------------------
*/

.remove-scroll {
  overflow: hidden;
  -webkit-margin-end: 15px;
}
/* -webkit-margin-end added to prevent page 'jumping' on webkit browsers */

.lightbox-hide {
  top: -9999px;
  left: -9999px;
  position: absolute;
  visibility: hidden;
}

.lightbox-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2rem;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(51, 51, 51, 0.5); /*#333333*/
}

.lightbox-wrapper {
  position: relative;
}

.lightbox-content {
  overflow: hidden;
  border-radius: .5rem;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.5);
}

.lightbox-image {
  max-height: calc(100vh - 8rem);
  max-width: calc(100vw - 4rem);
  vertical-align: middle;
  
}

/*
-------------------------------------------------------
2. Buttons
-------------------------------------------------------
*/

.lightbox-btn {
  width: 2.2em;
  height: 2.2em;
  position: absolute;
  /* border-radius: 50%; */
  transition: all 3s;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
}

.lightbox-btn:disabled {
  cursor: initial;
  background-color: #adadad;
}

.lightbox-btn-close {
  top: -0.8em;
  right: -0.8em;
  /* background-size: 40%; */
  /* background-image: url('icons/icon-lightbox-close.svg'); */
}

.lightbox-btn-next,
.lightbox-btn-previous {
  top: calc(50% - (2.2em / 2));
  /* background-size: 25% 80%; */
  /* background-image: url('icons/icon-lightbox-arrow.svg'); */
}

.lightbox-btn-previous {
  left: 1.5em;
  transform: rotate(180deg);
}

.lightbox-btn-next {
  right: 1.5em;
}

/*
-------------------------------------------------------
4. Animations
-------------------------------------------------------
*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes createBox {
  from {
    transform: scale(.95);
  }

  to {
    transform: scale(1);
  }
}

@keyframes deleteBox {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(.95);
  }
}










.oka-code {
  text-align: center;
  position: relative;
  width: 66%;
  margin: 0 auto 1.5rem auto;
  height: auto;
  /* overflow: hidden; */
  z-index: 0;
}

.oka-code button {
  position: absolute;
  /* margin-bottom:0; */
  bottom: .5rem;
  right: .5rem;
  display: inline-block;
  border: 2px solid var(--oka-grey-dim);
  background-color: transparent;
  color: var(--oka-grey-dim);
  height: 1.5rem;
  border-radius: .75rem;
  line-height: 1;
  padding: 0 .5rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity .25s ease-in;
}

.oka-code input {
  display: none;
}

.oka-code label {
  background: var(--oka-error);
  border-radius: .75rem;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-variation-settings: 'wght' 400;
  height: 1.5rem;
  line-height: 1.5;
  margin: calc(-.75rem + 1px) auto 0 auto;
  /* min-width: 8rem; */
  padding: 0 .75rem;
  position: absolute;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 10;
}

.oka-code label::after {
  content: "";
  width: calc(100% + 1.5rem);
  height: 2.5rem;
  margin: -2rem 0 0 -1.5rem;
  display: block;
  position: absolute;
  /* background-color: red; */

}

.oka-code pre {
  background-color: var(--oka-grey-subtle);
  border-color: var(--oka-error);
  border-radius: 1px;
  border: 1px solid;
  box-shadow: inset 0 0 .5rem var(--oka-error);
  color-scheme: dark;
  margin: 0;
  max-height: 2px;
  overflow: hidden;
  text-align: left;
  transition: max-height .25s ease-in-out, background-color .25s ease-in-out, border-radius .125s ease-in, padding .25s ease-in-out;
  white-space: pre-wrap;
  padding:0;
}

.oka-code pre:hover {
  overflow-y: auto;
}

.oka-code pre::before {
  counter-reset: code;
}

.oka-code code {
  color: var(--oka-white);
  counter-increment: code;
  margin-left: 1rem;
  white-space: pre-wrap;
  opacity: 0;
  transition: opacity .25s ease-in .25s;
}

.oka-code code::before {
  color:var(--oka-grey-silver);
  content: counter(code) ". ";
  display: inline-block;
  margin-left: auto;  
  padding-left: auto; 
  text-align: right;
  width: 2rem;       
}

.oka-code code e {
  color: var(--oka-grey-medium);
}

.oka-code code n {
  color: var(--oka-primary);
}

.oka-code code c {
  color: var(--oka-primary-alt);
}

.oka-code code d {
  color: var(--oka-secondary);
}

body.cke_editable .oka-code label,
.oka-code input:checked+label {
  background: var(--oka-error);
  box-shadow: 0 .125rem .25rem black;
}

body.cke_editable .oka-code pre,
.oka-code input:checked~pre {
  background-color:var(--oka-grey-dark);
  border-color: black;
  box-shadow: inset 0 0 .5rem black;
  max-height: 32rem;
  border-radius: .5rem;
  padding: 1rem 0;
}

body.cke_editable .oka-code pre code,
.oka-code input:checked~pre code {
  opacity: 1;
}


.oka-code input:checked~button {
  opacity: 1;
  pointer-events: all;
}

.oka-code input:checked+label+pre+button:hover {
  color: white;
  background-color: var(--oka-warning);
  border-color: var(--oka-warning);
  box-shadow: 0 .125rem .25rem black;
}

body.cke_editable h3,
.rn_AnswerTitle h1,
.rn_Container .container h1,
.rn_Container .container h2,
.rn_Container .container h2,
.rn_Container .container h3 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  /* text-shadow: 0 0 var(--oka-primary-alt); */
}

.rn_AnswerTitle h1,
.rn_Container .container h1 {
  color: var(--oka-primary-alt);
  font-size: 2rem;
  font-variation-settings: 'wght' 800;
  line-height: 1.25;
}

.rn_Container .container h2 {
  color: var(--oka-primary);
  font-size: 1.25rem;
  font-variation-settings: 'wght' 700;
  line-height: 1.5;
}

body.cke_editable h3,
.rn_Container .container h3 {
  color: var(--oka-primary);
  font-size: 1rem;
  font-variation-settings: 'wght' 600;
  line-height: 1.5;
}

body.cke_editable img,
[id^=SPAN] .leftHardAlignment img,
.rn_Container .container img {
  border-radius: .5rem;
  border: 2px solid var(--oka-border);
  height: unset !important;
  width: 100%;
  cursor: pointer;
  font-size: .75rem;
  text-indent: .25rem;
}

body.cke_editable img:hover,
[id^=SPAN] .leftHardAlignment img:hover,
.rn_Container .container img:hover {
  border-color: var(--oka-secondary);
}

.oka-column,
.oka-column {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.oka-column article,
.oka-column article {
  flex: 1;
}

.oka-column article>*,
.oka-column article>* {
  margin-bottom: 1rem;  
}

.oka-column article>*:last-child,
.oka-column article>*:last-child {
  margin-bottom: 0;  
}

.oka-column article img {
  width: 100% !important;
}

.oka-column article table,
.oka-column article table {
  width: 100%;  
}

body.cke_editable table,
[id^=SPAN] .leftHardAlignment table,
.rn_Container .container table {
  border-collapse: separate;
  border-radius: .5rem;
  border-spacing: 0px;
  border: 2px solid var(--oka-border);
  margin: 0 auto 1rem auto;
  max-width: 100%;
  min-width: 66%;
  padding: 0 .5rem;
  position: relative;
}

body.cke_editable table tr th,
[id^=SPAN] .leftHardAlignment table tr th,
.rn_Container .container table tr th {
  background: var(--oka-content);
  border-bottom: 2px solid var(--oka-primary);
  border-width: 0 0 2px 0;
  font-variation-settings: 'wght' 400;
  height: 2rem;
  margin-bottom: .5rem;
  position: sticky;
  text-align: center;
  top: 0;
  padding: 0 .5rem; 
}
/* top: 0; is needed for stickiness */

body.cke_editable table td,
[id^=SPAN] .leftHardAlignment table td,
.rn_Container .container table td {
  border-bottom: 2px solid var(--oka-border);
  border-width: 0 0 2px 0;
  font-family: var(--oka-mono-font);
  height: 2rem;
  padding: 0 .5rem;
}

body.cke_editable table td.right,
[id^=SPAN] .leftHardAlignment table td.right,
.rn_Container .container table td.right {
  text-align: right;
}

body.cke_editable table tr:last-child td,
[id^=SPAN] .leftHardAlignment table tr:last-child td,
.rn_Container .container table tr:last-child td {
  border-bottom: none;
}

body.cke_editable table>thead+tbody tr:nth-child(odd),
[id^=SPAN] .leftHardAlignment table>thead+tbody tr:nth-child(odd),
.rn_Container .container table>thead+tbody tr:nth-child(odd) {
  background: var(--oka-grey-subtle);
}

body.cke_editable ol,
[id^=SPAN] .leftHardAlignment ol,
.rn_Container .container ol {
  counter-reset: list;
  list-style-type: none;
  padding-left: 1.5rem;
}

body.cke_editable ol li::before,
[id^=SPAN] .leftHardAlignment ol li::before,
.rn_Container .container ol li::before {
  color: var(--oka-primary);
  content: counters(list, ".", decimal);
  counter-increment: list;
  display: inline-block;
  font-variation-settings: 'wght' 600;
  margin: 0 .5rem 0 -1.25rem;
  position: relative;
}

body.cke_editable ol ol,
[id^=SPAN] .leftHardAlignment ol ol,
.rn_Container .container ol ol {
  padding-left: 1.25rem;
}

body.cke_editable ul,
[id^=SPAN] .leftHardAlignment ul,
.rn_Container .container ul {
  list-style: none;
  padding-left: 1.5rem;
}

body.cke_editable ul li::before,
[id^=SPAN] .leftHardAlignment ul li::before,
.rn_Container .container ul li::before {
  content: '\F0765';
  font-family: var(--oka-icon-font);
  color: var(--oka-primary);
  height: 0;
  margin-left: -1.25rem;
  font-size: .75rem;
  line-height: 2.125;
  display:block;
  position:relative;
}

body.cke_editable ul ul,
[id^=SPAN] .leftHardAlignment ul ul,
.rn_Container .container ul ul {
  padding-left: 1.25rem;
}

body.cke_editable ul ul li::before,
[id^=SPAN] .leftHardAlignment ul ul li::before,
.rn_Container .container ul ul li::before {
  content: '\F0766';
  font-family: var(--oka-icon-font);
  color: var(--oka-primary);
}

/* body.cke_editable p,
[id^=SPAN] .leftHardAlignment p,
.rn_Container .container p {
  margin: 0 0 1.5rem 0;
} */

body.cke_editable a,
[id^=SPAN] .leftHardAlignment a,
.rn_Container .container a {
  color: var(--oka-primary);
  font-variation-settings: 'wght' 400;
  text-decoration-thickness: 2px;
  text-underline-offset:.125em;
}
/* text-decoration-thickness has partial support */

body.cke_editable a::after,
[id^=SPAN] .leftHardAlignment a::after,
.rn_Container .container a::after {
  content: '\F0054';
  font-family: var(--oka-icon-font);
  position:relative;
  display: inline-block;
  top: .125rem;
  left: .125rem;
}

body.cke_editable a[target="_blank"],
[id^=SPAN] .leftHardAlignment a[target="_blank"],
.rn_Container .container a[target="_blank"] {
  color: var(--oka-secondary);   
}

body.cke_editable a[target="_blank"]::after,
[id^=SPAN] .leftHardAlignment a[target="_blank"]::after,
.rn_Container .container a[target="_blank"]::after {
  content: '\F005C';
  font-family: var(--oka-icon-font);
  position:relative;
  display: inline-block;
}

body.cke_editable a[href^="#"]::after,
[id^=SPAN] .leftHardAlignment a[href^="#"]::after,
.rn_Container .container a[href^="#"]::after {
  content: '\F0E79'; 
}

body.cke_editable a[href^="mailto:"]::after,
[id^=SPAN] .leftHardAlignment a[href^="mailto:"]::after,
.rn_Container .container a[href^="mailto:"]::after {
  content: '\F01F0';
}

body.cke_editable a:hover,
[id^=SPAN] .leftHardAlignment a:hover,
.rn_Container .container a:hover {
  color: var(--oka-primary-alt);
}

body.cke_editable a[target="_blank"]:hover,
[id^=SPAN] .leftHardAlignment a[target="_blank"]:hover,
.rn_Container .container a[target="_blank"]:hover {
  color: var(--oka-secondary-alt);   
}

body.cke_editable b,
body.cke_editable strong,
[id^=SPAN] .leftHardAlignment b,
[id^=SPAN] .leftHardAlignment strong,
.rn_Container .container b,
.rn_Container .container strong {
  font-variation-settings: 'wght' 600;
}

body.cke_editable i,
body.cke_editable em,
[id^=SPAN] .leftHardAlignment i,
[id^=SPAN] .leftHardAlignment em,
.rn_Container .container i,
.rn_Container .container em {
  font-variation-settings: 'wght' 400;
}

body.cke_editable u,
[id^=SPAN] .leftHardAlignment u,
.rn_Container .container u {
  font-variation-settings: 'wght' 400;
  text-decoration-thickness: 2px;
  text-underline-offset:.125em;
}

body.cke_editable s,
[id^=SPAN] .leftHardAlignment s,
.rn_Container .container s {
  color: var(--oka-error);
  font-variation-settings: 'wght' 400;
  text-decoration-thickness: 2px;
}

body.cke_editable hr,
[id^=SPAN] .leftHardAlignment hr,
.rn_Container .container hr {
  color: var(--oka-primary);
  border-top: 2px solid;
  opacity: 1;
  width: 66%;
  margin: 1.5rem auto;
}

/* body.cke_editable sub,
body.cke_editable sup,
.rn_Container .container sub,
.rn_Container .container sup {
  color:  var(--oka-primary);
} */

/* oka-steps */

.oka-steps {
  counter-reset: step;
  display: flex;
  flex-direction: column;
}

.oka-steps .oka-steps {
  counter-reset: stepsub;
  margin: 0 2rem;
}

.oka-steps article {
  border-top: 2px solid var(--oka-border);
  display: flex;
  flex-direction: row;
  padding: 1rem 0 1rem 0;
}

.oka-steps article::before {
  background: var(--oka-primary);
  border-radius: 50%;
  color: white;
  content: counters(step,".");
  counter-increment: step;
  display: block;
  font-size: 2rem;
  font-variation-settings: 'wght' 600;
  height: 3rem;
  line-height: 1.5;
  position: absolute;
  text-align: center;
  width: 3rem;
}

.oka-steps .oka-steps article::before {
  background: var(--oka-content);
  border:.25rem solid var(--oka-primary);
  color: var(--oka-primary);
  content: counter(step) "." counter(stepsub);
  counter-increment: stepsub;
  font-size: 1.25rem;
  line-height: 2;
}

.oka-steps div {
  margin-left: 4rem;
  width: calc(50% - 4rem);
  display: block;
}

.container .oka-steps img {
  height: auto;
  object-fit: contain;
  object-position: 50% 0;
  width: 50% !important;
}
/* .container needed for this to work? */

.oka-tabs {
  position: relative;
}
/* 'position: relative' is needed for the ::after pseudo element to position correctly */

.oka-tabs::before {
  background: linear-gradient(to right, white 0, transparent 1rem, transparent calc(100% - 1rem), white 100%);
  content: "";
  display: block;
  height: 3rem;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.oka-tabs>section:first-child {
  display: flex;
  border-bottom: 2px solid var(--oka-background);
  overflow: hidden hidden;
}

.oka-tabs>section:first-child button {
  background: var(--oka-content);
  border: none;
  cursor: pointer;
  font-variation-settings: 'wght' 600;
  /* font: inherit; */
  height: 3rem;
  margin: 0 .5rem;
  padding: .5rem;
  white-space: nowrap;
}

.oka-tabs>section:first-child button:hover {
  color: var(--oka-secondary);
}

.oka-tabs>section:first-child button:first-child {
  margin-left: 1rem;
}

.oka-tabs>section:first-child button:last-child {
  margin-right: 1rem;
  border-right: 0;
}

.oka-tabs>section:first-child button.oka-tab-active {
  color: var(--oka-primary);
  border-bottom: 4px solid var(--oka-primary);
  padding-bottom: calc(.5rem - 4px);
}

.oka-tabs>section:first-child button.oka-tab-active:hover {
  color: var(--oka-primary);
  cursor: default;
}

.oka-tabs>section:first-child:focus {
  outline: none;
}

.oka-expands>article,
.oka-tabs>section>article {
  /* transition: height 4s ease; */
  border: none;
  display: none;
  min-height: 8rem;
  padding: 1rem;
}

.oka-expands>article.oka-tab-active,
.oka-tabs>section>article.oka-tab-active {
  /* transition: height 4s ease; */
  display: block;
}

.oka-expands article:last-child,
.oka-tabs article:last-child {
  border: none;
}

.oka-expands article>h3,
.oka-tabs article>h3 {
  cursor: pointer;
  margin: 0 0 1.5rem;
  padding: 0;
  position: relative;
}

.oka-tabs article>h3 {
  display: none;
}

.oka-expands article>div,
.oka-tabs article>div {
  animation-direction: reverse;
  animation-duration: 300ms;
  /* opacity: 0; */
  /* transition: opacity 1s ease; */
  animation-name: oka-opacity;
  /* display: block; */
  height: 0;
  overflow: hidden;
  padding: 0;
}

.oka-expands article.oka-tab-active,
.oka-tabs article.oka-tab-active {
  display: block;
}

.oka-expands article.oka-tab-active h3,
.oka-tabs article.oka-tab-active h3 {
  cursor: inherit;
  padding-bottom: 0;
}

.oka-expands article.oka-tab-active h3:hover,
.oka-tabs article.oka-tab-active h3:hover {
  background: none;
}

body.cke_editable .oka-expands article.oka-tab-active div,
body.cke_editable .oka-tabs article.oka-tab-active div,
.rn_Container .container .oka-expands article.oka-tab-active div,
.rn_Container .container .oka-tabs article.oka-tab-active div {
  /* opacity: 1; */
  display: block;
  height: auto;
  padding: 0;
}

body.cke_editable .oka-expands article.oka-tab-active p p:first-child,
body.cke_editable .oka-tabs article.oka-tab-active p p:first-child,
.rn_Container .container .oka-expands article.oka-tab-active p p:first-child,
.rn_Container .container .oka-tabs article.oka-tab-active p p:first-child {
  margin-top: 0;
}

body.cke_editable .oka-expands article.oka-tab-active p p:last-child,
body.cke_editable .oka-tabs article.oka-tab-active p p:last-child,
.rn_Container .container .oka-expands article.oka-tab-active p p:last-child,
.rn_Container .container .oka-tabs article.oka-tab-active p p:last-child {
  margin-bottom: 0;
}

body.cke_editable .oka-tabs article.oka-tab-active div section,
.rn_Container .container .oka-tabs article.oka-tab-active div section {
  opacity: 1;
  /* display: block; */
  /* height: 32rem; */
  padding: 0;
  position: relative;
  /* border: 10px solid black; */
}

body.cke_editable .oka-expands article,
.rn_Container .container .oka-expands article {
  border-bottom: 2px solid var(--oka-border);
  display: block;
  min-height: 3rem;
  /* max-height: 5rem; */
  /* transition: max-height .1s ease-in; */
  overflow: hidden;
}

body.cke_editable .oka-expands .oka-steps article,
.rn_Container .container .oka-expands .oka-steps article {
  display: flex;

}

body.cke_editable .oka-expands article>h3,
.rn_Container .container .oka-expands article>h3 {
  display: block;
  margin: -1rem -1rem;
  height: 3rem;
  padding: 1rem;
  color: var(--oka-text);
  line-height: 1;
}

body.cke_editable .oka-expands article>h3:hover,
.rn_Container .container .oka-expands article>h3:hover {
  /* background: var(--oka-grey-smoke); */
  color: var(--oka-secondary);
}

/* body.cke_editable .oka-expands article h3, */
body.cke_editable .oka-expands article div,
/* .rn_Container .container .oka-expands article h3, */
.rn_Container .container .oka-expands article div {
  padding: 1.25rem;
}

body.cke_editable .oka-expands article>div,
.rn_Container .container .oka-expands article>div {
  height: 0;
  padding: 0;
  display: none;
  transition: opacity 1s ease;
}

body.cke_editable .oka-expands article>h3:after,
.rn_Container .container .oka-expands article>h3:after {
  content: '\F0140';
  font-family: var(--oka-icon-font);
  opacity: 1;
  position: absolute;
  font-size: 1.5rem;
  line-height: .75;
  right: 1rem;
  transition: opacity 10s ease;
}

body.cke_editable .oka-expands article.oka-tab-active h3,
.rn_Container .container .oka-expands article.oka-tab-active h3 {
  margin: -1rem -1rem 1.5rem -1rem;
  color: var(--oka-primary);
}

body.cke_editable .oka-expands article.oka-tab-active h3:hover,
.rn_Container .container .oka-expands article.oka-tab-active h3:hover {
  color: var(--oka-primary);
}

body.cke_editable .oka-expands article.oka-tab-active h3:after,
.rn_Container .container .oka-expands article.oka-tab-active h3:after {
  content: '\F0143';
}

@keyframes oka-opacity {
  from {
      opacity: 1;
  }
  1% {
      opacity: 1;
  }
  99% {
      opacity: 0;
  }
  to {
      opacity: 0;
  }
}

@media (hover: none) {
  .remove-scroll {
    -webkit-margin-end: unset;
  }

  .rn_Container .container table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .rn_Container .container table::before {
    background: linear-gradient(to right, blue 0, transparent .5rem, transparent calc(100% - .5rem), blue 100%);
    content: "";
    display: block;
    height: 100%;
    pointer-events: none;
    position: sticky;
    width: 100%;
    
    
  
    top:0;
    

  }

  .rn_Container .container table tbody{
    width: 100%;
    display: table;
  }

  .rn_Container .container table thead+tbody{
    display: table-row-group;
  }
}


@media only screen and (max-width: 768px) {




  .oka-code {
    width: 100%;
  }

  body.cke_editable table,
  [id^=SPAN] .leftHardAlignment table,
  .rn_Container .container table {
    width: 100%;
  }

  .oka-column {
    flex-direction: column;
  }
  
  .oka-steps article {
    flex-direction: column;
  }

  .oka-steps div {
    width: calc(100% - 4rem);
  }
  
  .container .oka-steps img {
    width: 100% !important;
  }
  
  .oka-tabs>section:first-child {
    display: none;
  }


  .oka-tabs article {
    border-bottom: 2px solid var(--oka-border);
    display: block;
    min-height: 3rem;
    /* max-height: 5rem; */
    /* transition: max-height .1s ease-in; */
    /* overflow: hidden; */
  }

  /* .rn_Container .container .oka-tabs article.oka-tab-active {
    max-height: 128rem;
    transition: max-height .1s ease-out;
    transition-delay: .2s;
  } */

  body.cke_editable .oka-tabs article>h3,
  [id^=SPAN] .leftHardAlignment .oka-tabs article>h3,
  .rn_Container .container .oka-tabs article>h3 {
    display: block;
    margin: 0;
  }

  .oka-tabs article h3,
  .oka-tabs article div {
    padding: 1.25rem;
  }

  body.cke_editable .oka-tabs article>div,
  .rn_Container .container .oka-tabs article>div {
    height: 0;
    padding: 0;
    transition: opacity 1s ease;
  }
 
  /* .rn_Container .container .oka-tabs article h3 {
    margin-bottom: 0;
  } */

  /* .rn_Container .container .oka-tabs article.oka-tab-active p {
    padding: 1.25rem;
  } */

  body.cke_editable .oka-tabs article>h3:after,
  .rn_Container .container .oka-tabs article>h3:after {
    content: '\F0140';
    font-family: var(--oka-icon-font);
    opacity: 1;
    position: absolute;
    font-size: 1.5rem;
    line-height: .75;
    right: 1rem;
    transition: opacity 0.1s ease;
  }

  body.cke_editable .oka-tabs article.oka-tab-active h3,
  .rn_Container .container .oka-tabs article.oka-tab-active h3 {
    margin: 0 0 1.5rem;
  }

  body.cke_editable .oka-tabs article.oka-tab-active h3:after,
  .rn_Container .container .oka-tabs article.oka-tab-active h3:after {
    content: '\F0143';
  }

}