@font-face {
  font-family: "Icons";
  src: url('FNT/Icons.woff2') format('woff2-variations');
}

@font-face {
  font-family: "Lexend";
  src: url('FNT/Lexend.woff2') format('woff2-variations');
}

@font-face {
  font-family: "MonoNum";
  src: url('FNT/MonoNum.woff2') format('woff2-variations');
  unicode-range: U+0030-0039;
}

/*
black: #000000;
grey-asphalt: #131313;
grey-coal: #232323;
grey-dark: #333333;
grey-dim: #535353;
grey-hazy: #737373;
grey-medium: #939393;
grey-silver: #b3b3b3;
grey-smoke: #d3d3d3;
grey-snow: #e3e3e3;
grey-subtle: #f3f3f3;
white: #ffffff;

blue: #00aaff;
blue-dark: #0077cc;

green: #00c300;
green-dark: #009900;

lime: #deff00;

orange: #ff9900;
orange-dark: #ee7700;

red: #ff3333;
red-dark: #e52e2e;
*/

:root {
  --oka-font-icon: Icons;
  --oka-font-sans: Lexend, sans-serif;
  --oka-font-mono: MonoNum, Lexend, monospace;

  --oka-background: #f3f3f3;    /* grey-subtle */
  --oka-border: #d3d3d3;        /* grey-snow */
  --oka-content: #ffffff;       /* white */
  --oka-content-alt: #f3f3f3;   /* grey-subtle */
  --oka-pre: #f3f3f3;           /* grey-snow */

  --oka-text: #232323;          /* grey-coal */
  --oka-text-alt: #939393;      /* grey-medium */

  --oka-marked: #deff00;        /* lime */
  --oka-disabled: #d3d3d3;      /* grey-smoke */
  --oka-warning: #ff9900;       /* orange */
  --oka-error: #ff3333;         /* red */

  --oka-primary: #00c300;       /* green */
  --oka-primary-alt: #009900;   /* green-dark */
  --oka-secondary: #00aaff;     /* blue */
  --oka-secondary-alt: #0077cc; /* blue-dark */

  --oka-shadow: 0 0 .5rem rgba(0, 0, 0, .25);
  --oka-shadow-alt: 0 0 .5rem rgba(0, 0, 0, .125);
}

@media (prefers-color-scheme: dark) {

  :root {
    color-scheme: light;
  }

  :root.dark {
    color-scheme: dark;
  }

}

:root.dark {
  color-scheme: dark;
  --oka-background: #131313;    /* grey-asphalt */
  --oka-border: #535353;        /* grey-dim */
  --oka-content: #232323;       /* grey-coal */
  --oka-content-alt: #333333;   /* grey-dark */

  --oka-pre: #333333;           /* grey-dark */

  --oka-text: #b3b3b3;          /* grey-silver */
  --oka-text-alt: #939393;      /* grey-medium */

  --oka-error: #e52e2e;         /* red-dark */
  --oka-warning: #ee7700;       /* orange-dark */

  --oka-primary: #009900;       /* green-dark */
  --oka-primary-alt: #00c300;   /* green */

  --oka-shadow: 0 0 .5rem rgba(0, 0, 0, .75);
}

/* ================================================== */
/* =========== RESET DEFAULT APPEARANCES ============ */

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: unset;
}
/* Needed to make box-sizing behave te same across browsers */
/* Needed to make use of variable font thickness */

/* Limit to frontend? */

textarea,
select,
input,
progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* ================================================== */
/* ============= FANCY WEBKIT SCROLLBAR ============= */

/* Over-the-top solution to page 'jumping' when hiding the webkit scrollbar */

html>::-webkit-scrollbar {
  outline:1px solid var(--oka-border);
  width: 1.5rem;
}

html>::-webkit-scrollbar-button:single-button:vertical {
  background-position: 50% 50%;
  background-size: cover;
  height: 1.5rem;
  outline: 1px solid var(--oka-border);
}

html>::-webkit-scrollbar-button:single-button:vertical:decrement {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' stroke-linejoin='round' stroke-width='1' stroke='rgba(0,0,0,.25)' fill='%23d3d3d3'><polygon points='16,8 24,16 24,24 16,16 8,24 8,16'/></svg>");
}

html.dark>::-webkit-scrollbar-button:single-button:vertical:decrement {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' stroke-linejoin='round' stroke-width='1' stroke='rgba(0,0,0,.25)' fill='%23535353'><polygon points='16,8 24,16 24,24 16,16 8,24 8,16'/></svg>");
}

html>::-webkit-scrollbar-button:single-button:vertical:decrement:hover,
html.dark ::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' stroke-linejoin='round' stroke-width='1' stroke='rgba(0,0,0,.25)' fill='%2300aaff'><polygon points='16,8 24,16 24,24 16,16 8,24 8,16'/></svg>");
}

html>::-webkit-scrollbar-button:single-button:vertical:decrement:active,
html.dark>::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' stroke-linejoin='round' stroke-width='1' stroke='rgba(0,0,0,.25)' fill='%2300c300'><polygon points='16,8 24,16 24,24 16,16 8,24 8,16'/></svg>");
}

html>::-webkit-scrollbar-button:single-button:vertical:increment {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' stroke-linejoin='round' stroke-width='1' stroke='rgba(0,0,0,.25)' fill='%23d3d3d3'><polygon points='16,24 24,16 24,8 16,16 8,8 8,16'/></svg>");
}

html.dark>::-webkit-scrollbar-button:single-button:vertical:increment {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' stroke-linejoin='round' stroke-width='1' stroke='rgba(0,0,0,.25)' fill='%23535353'><polygon points='16,24 24,16 24,8 16,16 8,8 8,16'/></svg>");
}

html>::-webkit-scrollbar-button:vertical:single-button:increment:hover,
html.dark>::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' stroke-linejoin='round' stroke-width='1' stroke='rgba(0,0,0,.25)' fill='%2300aaff'><polygon points='16,24 24,16 24,8 16,16 8,8 8,16'/></svg>");
}

html>::-webkit-scrollbar-button:vertical:single-button:increment:active,
html.dark>::-webkit-scrollbar-button:vertical:single-button:increment:active {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' stroke-linejoin='round' stroke-width='1' stroke='rgba(0,0,0,.25)' fill='%2300c300'><polygon points='16,24 24,16 24,8 16,16 8,8 8,16'/></svg>");
}

html>::-webkit-scrollbar-track {
  border-radius: 2rem;
  border: .5rem solid transparent;
  box-shadow: inset 0 0 .25rem rgba(0, 0, 0, .25); 
  outline-offset: calc(-.5rem - 1px);
  outline: 1px solid var(--oka-border);
}

html.dark>::-webkit-scrollbar-track {
  box-shadow: inset 0 0 .25rem rgba(255, 255, 255, .25);
}

html>::-webkit-scrollbar-track:hover {
  box-shadow: inset 0 0 .5rem rgba(0, 0, 0, .25); 
}

html.dark>::-webkit-scrollbar-track:hover {
  box-shadow: inset 0 0 .5rem rgba(255, 255, 255, .25);
}

html>::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  border:.5rem solid transparent;
  box-shadow: inset 2rem 0 var(--oka-border); 
  min-height: 4rem;
  outline-offset: calc(-.5rem - 1px);
  outline:1px solid rgba(0, 0, 0, .25);
}

html>::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 2rem 0 var(--oka-secondary);
}

html>::-webkit-scrollbar-thumb:active {
  box-shadow: inset 2rem 0 var(--oka-primary);
}

/* ================================================== */
/* ================ OVERRULE OSC CSS ================ */

/* Fixes small preview and some font issues */

html {
  font-size: 16px;
}

.normal {
  color: unset;
  font-family: unset;
  font-size: unset;
  font-weight: unset;
}

/* ================================================== */
/* ================ OVERRULE BAD CSS ================ */

h1,
h2,
h3 {
  font-family: unset;
  font-weight: unset;
}

ol {
  list-style-type: decimal;
}

a {
  text-decoration: unset;
}

button {
  border-radius: unset;
  color: unset;
  font-size: unset;
  line-height: normal;
  transition: unset;
  margin: unset;
}

button:focus {
  outline: unset;
}

.container {
  width: unset;
}

.rn_SchemaAttributeValue,
.rn_SchemaAttributeValue p {
    font-family: unset !important;
    font-size: unset !important;
    color: unset !important;
}

/* ================================================== */
/* ==================== BASE CSS ==================== */

/*
Below selectors are needed for standard elements

[id^=SPAN] .leftHardAlignment       SAVED preview
.container .flexbox-answer-details  FRONT-END
*/

html {
  background: var(--oka-background);
  /* -webkit-margin-start: 1.5rem; */
  overflow: hidden auto;
}
/* Needed for the scrollbar fix to work and center content */

.rn_Container {
  -webkit-margin-start: 1.5rem;
}

.container {
  padding: 0;
  min-width: 540px;
}

[id^=SPAN] .leftHardAlignment {
  background: var(--oka-content);
  border: 1px solid var(--oka-border);
  box-shadow: var(--oka-shadow);
  color: var(--oka-text);
  flex-direction: column;
  font-family: var(--oka-font-sans);
  font-size: 1rem;
  font-variation-settings: 'wght' 300;
  line-height: 1.5;
  margin: .25rem 1rem 0 0;
  padding: 2rem;
}

.container .flexbox-answer-details {
  background: var(--oka-content);
  /* border: 1px solid var(--oka-border); */
  /* box-shadow: var(--oka-shadow); */
  color: var(--oka-text);
  flex-direction: column;
  font-family: var(--oka-font-sans);
  font-size: 1rem;
  font-variation-settings: 'wght' 300;
  line-height: 1.5;
  /* margin: 4rem auto; */
  padding: 2rem 1rem;
}

/* [id^=SPAN] .leftHardAlignment,
.container .flexbox-answer-details {
  background: var(--oka-content);
  border: 1px solid var(--oka-border);
  box-shadow: var(--oka-shadow);
  color: var(--oka-text);
  flex-direction: column;
  font-family: var(--oka-font-sans);
  font-size: 1rem;
  font-variation-settings: 'wght' 300;
  line-height: 1.5;
  margin: 4rem auto;
  padding: 2rem;
} */

/* ================================================== */
/* ===================== IMAGES ===================== */

[id^=SPAN] .leftHardAlignment img,
.container .flexbox-answer-details img {
  border-radius: .5rem;
  border: 2px solid var(--oka-border);
  cursor: pointer;
  font-size: .75rem;
  height: unset !important;
  text-indent: .25rem;
  width: 100% !important;
}
/* images need !important on width and height to overrule inline styling */

[id^=SPAN] .leftHardAlignment img:hover,
.container .flexbox-answer-details img:hover {
  outline: 4px solid var(--oka-secondary);
  outline-offset: -4px;
}

/* ================================================== */
/* ================ DEFAULT ELEMENTS ================ */

/* ==================== HEADERS ===================== */

.rn_AnswerTitle h1,
[id^=SPAN] .leftHardAlignment h1,
[id^=SPAN] .leftHardAlignment h2,
[id^=SPAN] .leftHardAlignment h3,
.container .flexbox-answer-details h1,
.container .flexbox-answer-details h2,
.container .flexbox-answer-details h3 {
  margin-bottom: 2rem;
  margin-top: 0;
}

.rn_AnswerTitle h1,
[id^=SPAN] .leftHardAlignment h1,
.container .flexbox-answer-details h1 {
  color: var(--oka-primary);
  font-size: 2rem;
  font-variation-settings: 'wght' 1000;
  line-height: 1.25;
  text-align: center;
}

[id^=SPAN] .leftHardAlignment h2,
.container .flexbox-answer-details h2 {
  color: var(--oka-primary);
  font-size: 1.25rem;
  font-variation-settings: 'wght' 800;
  line-height: 1.5;
  margin: 0 auto 1.5rem auto;
  text-align: center;
  width: calc(100% / 1.5);
  transform: translateY(-.5rem);
}

[id^=SPAN] .leftHardAlignment h3,
.container .flexbox-answer-details h3 {
  color: var(--oka-primary);
  font-size: 1rem;
  font-variation-settings: 'wght' 600;
  line-height: 1.25;
}

/* =================== PARAGRAPH ==================== */

[id^=SPAN] .leftHardAlignment p,
.container .flexbox-answer-details p {
  padding-bottom: 2rem;
}

/* ================== ORDERED LIST ================== */

[id^=SPAN] .leftHardAlignment ol,
.container .flexbox-answer-details ol {
  counter-reset: list;
  list-style: inside;
  list-style-type: decimal;
}

[id^=SPAN] .leftHardAlignment ol[start="2"],
.container .flexbox-answer-details ol[start="2"] {
  counter-reset: list 1;
}

[id^=SPAN] .leftHardAlignment ol[start="3"],
.container .flexbox-answer-details ol[start="3"] {
  counter-reset: list 2;
}

[id^=SPAN] .leftHardAlignment ol[start="4"],
.container .flexbox-answer-details ol[start="4"] {
  counter-reset: list 3;
}

[id^=SPAN] .leftHardAlignment ol[start="5"],
.container .flexbox-answer-details ol[start="5"] {
  counter-reset: list 4;
}

[id^=SPAN] .leftHardAlignment ol[start="6"],
.container .flexbox-answer-details ol[start="6"] {
  counter-reset: list 5;
}

[id^=SPAN] .leftHardAlignment ol[start="7"],
.container .flexbox-answer-details ol[start="7"] {
  counter-reset: list 6;
}

[id^=SPAN] .leftHardAlignment ol[start="8"],
.container .flexbox-answer-details ol[start="8"] {
  counter-reset: list 7;
}

[id^=SPAN] .leftHardAlignment ol[start="9"],
.container .flexbox-answer-details ol[start="9"] {
  counter-reset: list 8;
}

[id^=SPAN] .leftHardAlignment ol[start="10"],
.container .flexbox-answer-details ol[start="10"] {
  counter-reset: list 9;
}

[id^=SPAN] .leftHardAlignment ol li,
.container .flexbox-answer-details ol li {
  counter-increment: list;
}

[id^=SPAN] .leftHardAlignment ol li::marker,
.container .flexbox-answer-details ol li::marker {
  color: var(--oka-primary);
  content: counters(list, ".", decimal)' ';
  font-variation-settings: 'wght' 600;
}

[id^=SPAN] .leftHardAlignment ol.phone-menu li::marker,
.container .flexbox-answer-details ol.phone-menu li::marker {
  content: "#" counters(list, " > #", decimal)' ';
}

[id^=SPAN] .leftHardAlignment ol ol,
.container .flexbox-answer-details ol ol {
  padding-left: 1rem;
}

[id^=SPAN] .leftHardAlignment ol li:nth-child(n+10) ol,
.container .flexbox-answer-details ol li:nth-child(n+10) ol {
  padding-left: 1.5rem;
}

/* ================= UNORDERED LIST ================= */

[id^=SPAN] .leftHardAlignment ul,
.container .flexbox-answer-details ul {
  list-style: inside;
}

[id^=SPAN] .leftHardAlignment ul li::marker,
.container .flexbox-answer-details ul li::marker {
  color: var(--oka-primary);
  content: '\F0765\ ';
  font-family: var(--oka-font-icon);
  font-size: .75rem;
}

[id^=SPAN] .leftHardAlignment ul ul,
.container .flexbox-answer-details ul ul {
  padding-left: 1rem;
}

[id^=SPAN] .leftHardAlignment ul ul li::marker,
.container .flexbox-answer-details ul ul li::marker {
  content: '\F0766\ ';
}

/* ===================== TABLE ====================== */

[id^=SPAN] .leftHardAlignment table,
.container .flexbox-answer-details table {
  border-collapse: separate;
  border-radius: .5rem;
  border-spacing: 0px;
  border: 2px solid var(--oka-border);
  margin: 0 auto 1rem auto;
  max-width: 100%;
  min-width: 66%;
  padding: 0 .5rem;
  position: relative;
}

[id^=SPAN] .leftHardAlignment table tr th,
.container .flexbox-answer-details table tr th {
  background: var(--oka-content);
  border-bottom: 2px solid var(--oka-primary);
  border-width: 0 0 2px 0;
  font-variation-settings: 'wght' 400;
  height: 2rem;
  margin-bottom: 2rem;
  position: sticky;
  text-align: center;
  top: 0;
  padding: 0 .5rem; 
  line-height: 2;
}
/* top: 0; is needed for stickiness */

[id^=SPAN] .leftHardAlignment table td,
.container .flexbox-answer-details table td {
  border-bottom: 2px solid var(--oka-border);
  border-width: 0 0 2px 0;
  height: 2rem;
  padding: 0 .5rem;
  line-height: 2;
}

[id^=SPAN] .leftHardAlignment table td.numeric,
.container .flexbox-answer-details table td.numeric {
  font-family: var(--oka-font-mono);
}

[id^=SPAN] .leftHardAlignment table td.right,
.container .flexbox-answer-details table td.right {
  text-align: right;
}

[id^=SPAN] .leftHardAlignment table tr:last-child td,
.container .flexbox-answer-details table tr:last-child td {
  border-bottom: none;
}

[id^=SPAN] .leftHardAlignment table>thead+tbody tr:nth-child(odd),
.container .flexbox-answer-details table>thead+tbody tr:nth-child(odd) {
  background: var(--oka-content-alt);
}

/* ====================== LINK ====================== */

[id^=SPAN] .leftHardAlignment a,
.container .flexbox-answer-details a {
  color: var(--oka-primary);
  font-variation-settings: 'wght' 400;
}
/* text-decoration-thickness has partial support */

[id^=SPAN] .leftHardAlignment a::before,
.container .flexbox-answer-details a::before {
  content: '';
  font-family: var(--oka-font-icon);
  position: relative;
  display: inline-block;
  top: 1px;
  right: .125rem;
}

[id^=SPAN] .leftHardAlignment a::after,
.container .flexbox-answer-details a::after {
  content: '\F0054';
  font-family: var(--oka-font-icon);
  position: relative;
  display: inline-block;
  top: 1px;
  left: .125rem;
}

[id^=SPAN] .leftHardAlignment a[target="_blank"],
.container .flexbox-answer-details a[target="_blank"] {
  color: var(--oka-secondary);   
}

[id^=SPAN] .leftHardAlignment a[target="_blank"]::after,
.container .flexbox-answer-details a[target="_blank"]::after {
  content: '\F005C';
}

[id^=SPAN] .leftHardAlignment a[href^="#"]::after,
.container .flexbox-answer-details a[href^="#"]::after {
  content: '\F0E79'; 
}

[id^=SPAN] .leftHardAlignment a[href^="mailto:"]::before,
.container .flexbox-answer-details a[href^="mailto:"]::before {
  content: '\F01F0';
}

[id^=SPAN] .leftHardAlignment a[href^="mailto:"]::after,
.container .flexbox-answer-details a[href^="mailto:"]::after {
  content: '';
}

[id^=SPAN] .leftHardAlignment a[href^="tel:"]::before,
.container .flexbox-answer-details a[href^="tel:"]::before {
  content: '\F03F2';
}

[id^=SPAN] .leftHardAlignment a[href^="tel:"]::after,
.container .flexbox-answer-details a[href^="tel:"]::after {
  content: '';
}

[id^=SPAN] .leftHardAlignment a:hover,
.container .flexbox-answer-details a:hover {
  color: var(--oka-primary-alt);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset:.125em;
}

[id^=SPAN] .leftHardAlignment a[target="_blank"]:hover,
.container .flexbox-answer-details a[target="_blank"]:hover {
  color: var(--oka-secondary-alt);   
}

/* ================== FONT STYLING ================== */

[id^=SPAN] .leftHardAlignment b,
[id^=SPAN] .leftHardAlignment strong,
.container .flexbox-answer-details b,
.container .flexbox-answer-details strong {
  font-variation-settings: 'wght' 600;
}

[id^=SPAN] .leftHardAlignment i,
[id^=SPAN] .leftHardAlignment em,
.container .flexbox-answer-details i,
.container .flexbox-answer-details em {
  font-variation-settings: 'wght' 400;
}

[id^=SPAN] .leftHardAlignment u,
.container .flexbox-answer-details u {
  font-variation-settings: 'wght' 400;
  text-decoration-thickness: 2px;
  text-underline-offset: .125Rem;
}


[id^=SPAN] .leftHardAlignment s,
.container .flexbox-answer-details s {
  color: var(--oka-error);
  font-variation-settings: 'wght' 400;
  text-decoration-thickness: 2px;
}

[id^=SPAN] .leftHardAlignment kbd,
.container .flexbox-answer-details kbd {
  display: inline-block;
  color: var(--oka-primary);
  font-family: var(--oka-font-mono);
  padding: 0 .125rem;
  background: var(--oka-content);
  border: 2px solid var(--oka-primary);
  border-bottom-width: 4px;
  font-variation-settings: 'wght' 500;
  line-height: 1;
}

[id^=SPAN] .leftHardAlignment kbd + kbd,
.container .flexbox-answer-details kbd + kbd {
  margin-left: 1rem;
}

[id^=SPAN] .leftHardAlignment kbd + kbd::before,
.container .flexbox-answer-details kbd + kbd::before {
  content: '+ ';
  display: inline-block;
  transform: translateX(-1rem);
  width: 0;
}

[id^=SPAN] .leftHardAlignment hr,
.container .flexbox-answer-details hr {
  color: var(--oka-primary);
  border-top: 2px solid;
  opacity: 1;
  width: calc(100% / 1.5);
  margin: 0 auto 2rem auto;
}

/* ================================================== */
/* ================== OKA LIGHTBOX ================== */

/*
-------------------------------------------------------
1. Base Styles
-------------------------------------------------------
*/

.remove-scroll {
  overflow: hidden;
  -webkit-margin-end: 2rem;
}
/* -webkit-margin-end added to prevent page 'jumping' on webkit browsers */

.lightbox-hide {
  left: -9999px;
  position: absolute;
  top: -9999px;
  visibility: hidden;
}

.lightbox-container {
  /* background-color: rgba(51, 51, 51, 0.5);  */
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /*#333333*/
  box-shadow: inset 0 2rem 3rem rgba(0, 0, 0, .25), inset 0 -2rem 3rem rgba(0, 0, 0, .25);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  padding: 2rem;
  position: fixed;
  right: 0;
  top: 0;
}

.lightbox-wrapper {
  position: relative;
  /* background-color: red; */
  margin: 4rem 0;
  /* height: 100vh; */
  /* overflow: scroll; */
}

.lightbox-title {
  background: black;
  width: 100%;
  height: 3rem;
  position: absolute;
  top: -3.5rem;
}

.lightbox-content {
  border-radius: .5rem;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
  cursor: move;
  margin: 0 auto;
  max-height: calc(100vh - 8rem);
  max-width: calc(100vw - 4rem);
  overflow: auto;
}

.lightbox-image {
  
  max-height: calc(100vh - 8rem);
  max-width: calc(100vw - 4rem);
  /* height: 100%; */
  /* height: 1080px;
  width: 1440px; */
  vertical-align: middle;
}

/*
-------------------------------------------------------
2. Buttons
-------------------------------------------------------
*/

.lightbox-btn {
  background-color: var(--oka-primary);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3rem;
  height: 3rem;
  position: absolute;
  transition: all .2s;
  width: 3rem;
  margin-top: .5rem;
}

.lightbox-btn:disabled {
  cursor: initial;
  background-color: var(--oka-primary-alt);
}

.lightbox-btn-previous {
  left: 3rem;
}

.lightbox-btn-next {
  left: 7rem;
}

.lightbox-btn-close {
  background-color: var(--oka-error);
  right: 0;
}

.lightbox-btn-up::after,
.lightbox-btn-next::after,
.lightbox-btn-previous::after,
.lightbox-btn-close::after {
  content: '\F05AD';
  font-family: var(--oka-font-icon);
  color: white;
  font-size: 1.5rem;
  line-height: 2;
  display: block;
  position: absolute;
  width: 3rem;
  height: 3rem;
  top:0;
  left:0;
}

.lightbox-btn-up::after {
  content: '\F0143';
}

.lightbox-btn-next::after {
  content: '\F0142';
}

.lightbox-btn-previous::after {
  content: '\F0141';
}

/*
-------------------------------------------------------
4. Animations
-------------------------------------------------------
*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes createBox {
  from {
    transform: scale(.95);
  }

  to {
    transform: scale(1);
  }
}

@keyframes deleteBox {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(.95);
  }
}








/* ================================================== */
/* ==================== OKA CODE ==================== */

[id^=SPAN] .leftHardAlignment .oka-code,
.container .flexbox-answer-details .oka-code {
  height: auto;
  margin: 0 auto 2rem auto;
  position: relative;
  text-align: center;
  width: calc(100% / 1.5);
  z-index: 0;
}

[id^=SPAN] .leftHardAlignment .oka-code button,
.container .flexbox-answer-details .oka-code button {
  background-color: transparent;
  border-radius: .75rem;
  border: 2px solid var(--oka-error);
  bottom: .5rem;
  color: var(--oka-error);
  display: inline-block;
  font-variation-settings: 'wght' 400;
  height: 1.5rem;
  line-height: 1;
  opacity: 0;
  padding: 0 .5rem;
  pointer-events: none;
  position: absolute;
  right: .5rem;
  transition: opacity .25s ease-in;
}

[id^=SPAN] .leftHardAlignment .oka-code input,
.container .flexbox-answer-details .oka-code input {
  display: none;
}

[id^=SPAN] .leftHardAlignment .oka-code label,
.container .flexbox-answer-details .oka-code label {
  background: var(--oka-error);
  border-radius: 1.5rem;
  color: var(--oka-content);
  cursor: pointer;
  display: inline-block;
  font-variation-settings: 'wght' 400;
  height: 1.5rem;
  line-height: 1.5;
  margin: calc(-.75rem + 1px) auto 0 auto;
  padding: 0 .75rem;
  position: absolute;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 10;
  text-transform: uppercase;
}

[id^=SPAN] .leftHardAlignment .oka-code label::before,
.container .flexbox-answer-details .oka-code label::before {
  content: '\F0174\ ';
  font-family: var(--oka-font-icon);
}

[id^=SPAN] .leftHardAlignment .oka-code label::after,
.container .flexbox-answer-details .oka-code label::after {
  content: "";
  width: calc(100% + 1.5rem);
  height: 2.5rem;
  margin: -2rem 0 0 -1.5rem;
  display: block;
  position: absolute;
}

[id^=SPAN] .leftHardAlignment .oka-code pre,
.container .flexbox-answer-details .oka-code pre {
  background-color: var(--oka-pre);
  /* border-color: var(--oka-error); */
  border-radius: 2px;
  border: 2px solid var(--oka-error);
  box-shadow: inset 0 0 .5rem var(--oka-error);
  margin: 0;
  max-height: 0;
  overflow: hidden;
  padding:0;
  text-align: left;
  transition: max-height .25s ease-in-out, box-shadow .25s ease-in-out, border-radius .125s ease-in, padding .25s ease-in-out;
  white-space: pre-wrap;
}

[id^=SPAN] .leftHardAlignment .oka-code pre:hover,
.container .flexbox-answer-details .oka-code pre:hover {
  overflow-y: auto;
}

[id^=SPAN] .leftHardAlignment .oka-code pre::before,
.container .flexbox-answer-details .oka-code pre::before {
  counter-reset: code;
}

[id^=SPAN] .leftHardAlignment .oka-code code,
.container .flexbox-answer-details .oka-code code {
  background: none;
  border: none;
  color: var(--oka-text);
  counter-increment: code;
  margin-left: 1rem;
  opacity: 0;
  padding: 0;
  transition: opacity .25s ease-in .25s;
  user-select: text;
  white-space: pre;
}

[id^=SPAN] .leftHardAlignment .oka-code code::before,
.container .flexbox-answer-details .oka-code code::before {
  color:var(--oka-text-alt);
  content: counter(code) ". ";
  display: inline-block;
  margin-left: auto;
  padding-left: auto;
  text-align: right;
  width: 2rem;
}

[id^=SPAN] .leftHardAlignment code,
.container .flexbox-answer-details code {
  background-color: var(--oka-pre);
  border-radius: .5rem;
  border: 2px solid var(--oka-error);
  color: var(--oka-text);
  padding: .125rem .25rem;
  user-select: all;
}

[id^=SPAN] .leftHardAlignment code e,
.container .flexbox-answer-details code e {
  color: var(--oka-text-alt);
}

[id^=SPAN] .leftHardAlignment code n,
.container .flexbox-answer-details code n {
  color: var(--oka-primary);
}

[id^=SPAN] .leftHardAlignment code c,
.container .flexbox-answer-details code c {
  color: var(--oka-primary-alt);
}

[id^=SPAN] .leftHardAlignment code d,
.container .flexbox-answer-details code d {
  color: var(--oka-secondary);
}

[id^=SPAN] .leftHardAlignment .oka-code input:checked+label,
.container .flexbox-answer-details .oka-code input:checked+label {
  background: var(--oka-error);
}

[id^=SPAN] .leftHardAlignment .oka-code input:checked~pre,
.container .flexbox-answer-details .oka-code input:checked~pre {
  border-radius: .5rem;
  border: 2px solid var(--oka-error);
  box-shadow: inset var(--oka-shadow);
  max-height: 32rem;
  padding: 1rem 0;
}

[id^=SPAN] .leftHardAlignment .oka-code input:checked~pre code,
.container .flexbox-answer-details .oka-code input:checked~pre code {
  opacity: 1;
}

[id^=SPAN] .leftHardAlignment .oka-code input:checked~button,
.container .flexbox-answer-details .oka-code input:checked~button {
  opacity: 1;
  pointer-events: all;
}

[id^=SPAN] .leftHardAlignment .oka-code input:checked+label+pre+button:hover,
.container .flexbox-answer-details .oka-code input:checked+label+pre+button:hover {
  background-color: var(--oka-error);
  color: var(--oka-content);
}

/* ================================================== */
/* ==================== OKA ALERT =================== */

[id^=SPAN] .leftHardAlignment .oka-alert,
.container .flexbox-answer-details .oka-alert {
  margin: 0 auto 2rem auto;
  width: calc(100% / 1.5);
}

[id^=SPAN] .leftHardAlignment .oka-alert article,
.container .flexbox-answer-details .oka-alert article {
  border: 2px solid var(--oka-warning);
  border-bottom-width: 1rem;
  border-radius: .5rem;
  border-top-width: 1rem;
  box-shadow: var(--oka-shadow);
  color: var(--oka-warning);
  min-height: 4rem;
  padding: 1rem;
  text-align: center;
}

[id^=SPAN] .leftHardAlignment .oka-alert article::before,
[id^=SPAN] .leftHardAlignment .oka-alert article::after,
.container .flexbox-answer-details .oka-alert article::before,
.container .flexbox-answer-details .oka-alert article::after {
  
  background: repeating-linear-gradient(45deg, var(--oka-content) 0 .25rem, var(--oka-warning) .25rem 1.25rem, var(--oka-content) 1.25rem 1.5rem);
  background-position: 50%;
  background-size: calc(100% + 2rem + 4px) .5rem;
  content: '';
  display: block;
  height: .5rem;
  margin: -1.5rem 0 0 2px;
  width: calc(100%);
}

[id^=SPAN] .leftHardAlignment .oka-alert article::after,
.container .flexbox-answer-details .oka-alert article::after {
  margin: 0 0 -1.5rem 2px;
}

[id^=SPAN] .leftHardAlignment .oka-alert article h2,
.container .flexbox-answer-details .oka-alert article h2 {
  color: var(--oka-warning);
  font-size: 1.5rem;
  font-variation-settings: 'wght' 600;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

[id^=SPAN] .leftHardAlignment .oka-alert article p,
.container .flexbox-answer-details .oka-alert article p {
  padding-bottom: 0;
}

/* ================================================== */
/* =================== OKA COLUMN =================== */

[id^=SPAN] .leftHardAlignment .oka-column,
.container .flexbox-answer-details .oka-column {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

[id^=SPAN] .leftHardAlignment .oka-column article,
.container .flexbox-answer-details .oka-column article {
  flex: 1;
}

[id^=SPAN] .leftHardAlignment .oka-column article>*,
.container .flexbox-answer-details .oka-column article>* {
  margin-bottom: 1rem;
}

[id^=SPAN] .leftHardAlignment .oka-column article>*:last-child,
.container .flexbox-answer-details .oka-column article>*:last-child {
  margin-bottom: 0;
}

[id^=SPAN] .leftHardAlignment .oka-column article img,
.container .flexbox-answer-details .oka-column article img {
  width: 100% !important;
}
/* images need !important on width and height to overrule inline styling */

[id^=SPAN] .leftHardAlignment .oka-column article p,
.container .flexbox-answer-details .oka-column article p {
  padding-bottom: 0;
}

[id^=SPAN] .leftHardAlignment .oka-column article table,
.container .flexbox-answer-details .oka-column article table {
  width: 100%;
}

/* ================================================== */
/* ==================== OKA CARD ==================== */

[id^=SPAN] .leftHardAlignment .oka-card,
.container .flexbox-answer-details .oka-card {
  /* align-items: flex-start; */
  background: var(--oka-background);
  border-radius: .5rem;
  border:1px solid var(--oka-border);
  box-shadow: inset var(--oka-shadow);
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 0 2rem 2rem 2rem;
  padding: 2rem;
}

[id^=SPAN] .leftHardAlignment .oka-card article,
.container .flexbox-answer-details .oka-card article {
  background: var(--oka-content);
  border-radius: .5rem;
  border: 1px solid var(--oka-border);
  box-shadow: var(--oka-shadow);
  display: flex;
  flex-basis: calc((100% + 8rem)/3 - 1rem);
  flex-direction: column;
  min-width:21rem;
  overflow: hidden;
  padding-bottom: 1rem;
}

[id^=SPAN] .leftHardAlignment .oka-card>article>*,
.container .flexbox-answer-details .oka-card>article>* {
  order: 4;
  padding: 1rem 1rem 0 1rem;
}

[id^=SPAN] .leftHardAlignment .oka-card>article>img,
.container .flexbox-answer-details .oka-card>article>img {
  /* margin-left: -1px; */
  /* margin-top: -1rem; */
  width: unset !important;
  height: unset !important;
  border-radius: 0;
  border: 0;
  max-height: 15rem;
  min-height: 10rem;
  min-width: 22rem;
  object-fit: cover;
  order: 1;
  outline: 0;
  padding: 0;
}
/* images need !important on width and height to overrule inline styling */

[id^=SPAN] .leftHardAlignment .oka-card>article>img:hover,
.container .flexbox-answer-details .oka-card>article>img:hover {
  /* height:15rem; */
  box-shadow: none;
  cursor: default;
}

[id^=SPAN] .leftHardAlignment .oka-card>article>h3::before,
.container .flexbox-answer-details .oka-card>article>h3::before {
  background: linear-gradient(to top, rgba(0,0,0,.25) , transparent);
  content: '';
  display: block;
  height: 2rem;
  margin: -3rem 0 1rem -1rem;
  position: relative;
  width: calc(100% + 2rem);
}

[id^=SPAN] .leftHardAlignment .oka-card>article>h3,
.container .flexbox-answer-details .oka-card>article>h3 {
  color: var(--oka-text) !important;
  margin: 0;
  order: 2;
  padding-bottom: 0;
}
/* !important needed because of smartstart CSS */

[id^=SPAN] .leftHardAlignment .oka-card>article>.button,
.container .flexbox-answer-details .oka-card>article>.button {
  background: var(--oka-content);
  border-radius: 5rem;
  border: 2px solid var(--oka-primary);
  color: var(--oka-primary);
  display: block;
  font-size: 1rem;
  font-variation-settings: 'wght' 400;
  height: 2.5rem;
  margin: 1rem 1rem 0 1rem;
  order: 99;
  padding: 0 .5rem;
  line-height: 2.25;
  text-align: center;
}

[id^=SPAN] .leftHardAlignment .oka-card>article>.button:hover,
.container .flexbox-answer-details .oka-card>article>.button:hover {
  background: var(--oka-primary);
  color: var(--oka-content);
  text-decoration: none;
}

[id^=SPAN] .leftHardAlignment .oka-card>article>button[target="_blank"],
.container .flexbox-answer-details .oka-card>article>button[target="_blank"] {
  color: var(--oka-secondary);
  border: 2px solid var(--oka-secondary);
}

[id^=SPAN] .leftHardAlignment .oka-card>article>button[target="_blank"]:hover,
.container .flexbox-answer-details .oka-card>article>button[target="_blank"]:hover {
  background: var(--oka-secondary);
}

/* ================================================== */
/* =================== OKA STEPS ==================== */

[id^=SPAN] .leftHardAlignment .oka-steps,
.container .flexbox-answer-details .oka-steps {
  border-bottom: 2px solid var(--oka-border);
  counter-reset: step;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

[id^=SPAN] .leftHardAlignment .oka-steps article,
.container .flexbox-answer-details .oka-steps article {
  align-items: flex-start;
  border-top: 2px solid var(--oka-border);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding: 1rem 0 1rem 0;
}

[id^=SPAN] .leftHardAlignment .oka-steps article::before,
.container .flexbox-answer-details .oka-steps article::before {
  background: var(--oka-primary);
  border-radius: 1.5rem;
  color: var(--oka-content);
  content: counter(step);
  counter-increment: step;
  display: block;
  font-size: 2rem;
  font-variation-settings: 'wght' 600;
  height: 3rem;
  line-height: 1.5;
  position: relative;
  text-align: center;
  width: 3rem;
}

[id^=SPAN] .leftHardAlignment .oka-steps .oka-steps,
.container .flexbox-answer-details .oka-steps .oka-steps {
  border-bottom: none;
  counter-reset: stepsub;
  margin: 0 0 0 2rem;
}

[id^=SPAN] .leftHardAlignment .oka-steps .oka-steps article::before,
.container .flexbox-answer-details .oka-steps .oka-steps article::before {
  background: var(--oka-content);
  border:.25rem solid var(--oka-primary);
  color: var(--oka-primary);
  content: counter(step) "." counter(stepsub);
  counter-increment: stepsub;
  font-size: 1.25rem;
  line-height: 2;
}

[id^=SPAN] .leftHardAlignment .oka-steps div,
.container .flexbox-answer-details .oka-steps div {
  flex: 1;
  padding: 0 1.5rem 0 1rem;
}

[id^=SPAN] .leftHardAlignment .oka-steps img,
.container .flexbox-answer-details .oka-steps img {
  height: auto !important;
  max-height: 128rem;
  object-fit: cover;
  object-position: 50% 50%;
  order: 99;
  width: calc(50% - .75rem) !important;
}
/* images need !important on width and height to overrule inline styling */

[id^=SPAN] .leftHardAlignment .oka-steps .oka-steps img,
.container .flexbox-answer-details .oka-steps .oka-steps img {
  width: calc(50% + .25rem) !important;
}
/* images need !important on width and height to overrule inline styling */

/* .container .oka-steps img.oka-small {
  height: auto;
  object-fit: contain;
  object-position: 50% 0;
  width: 25%;
} */
/* .container needed for this to work? */

/* ================================================== */
/* =============== OKA EXPANDS / TABS =============== */

[id^=SPAN] .leftHardAlignment .oka-tabs,
.container .flexbox-answer-details .oka-tabs {
  border-bottom: 2px solid var(--oka-border);
  margin-bottom: 2rem;
  position: relative;
}
/* 'position: relative' is needed for the ::after pseudo element to position correctly */

[id^=SPAN] .leftHardAlignment .oka-tabs::before,
.container .flexbox-answer-details .oka-tabs::before {
  background: linear-gradient(to right, var(--oka-content) 0, transparent 1rem, transparent calc(100% - 1rem), var(--oka-content) 100%);
  content: "";
  display: block;
  height: 3rem;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

[id^=SPAN] .leftHardAlignment .oka-tabs>section:first-child,
.container .flexbox-answer-details .oka-tabs>section:first-child {
  border-bottom: 2px solid var(--oka-border);
  display: flex;
  overflow: hidden hidden;
}

[id^=SPAN] .leftHardAlignment .oka-tabs>section:first-child button,
.container .flexbox-answer-details .oka-tabs>section:first-child button {
  /* font: inherit; */
  background: var(--oka-content);
  border: none;
  cursor: pointer;
  font-variation-settings: 'wght' 600;
  height: 3rem;
  margin: 0 .5rem;
  padding: .5rem;
  white-space: nowrap;
}

[id^=SPAN] .leftHardAlignment .oka-tabs>section:first-child button:hover,
.container .flexbox-answer-details .oka-tabs>section:first-child button:hover {
  color: var(--oka-secondary);
}

[id^=SPAN] .leftHardAlignment .oka-tabs>section:first-child button:first-child,
.container .flexbox-answer-details .oka-tabs>section:first-child button:first-child {
  margin-left: 1rem;
}

[id^=SPAN] .leftHardAlignment .oka-tabs>section:first-child button:last-child,
.container .flexbox-answer-details .oka-tabs>section:first-child button:last-child {
  margin-right: 1rem;
  border-right: 0;
}

[id^=SPAN] .leftHardAlignment .oka-tabs>section:first-child button.oka-tab-active,
.container .flexbox-answer-details .oka-tabs>section:first-child button.oka-tab-active {
  color: var(--oka-primary);
  border-bottom: 4px solid var(--oka-primary);
  padding-bottom: calc(.5rem - 4px);
}

[id^=SPAN] .leftHardAlignment .oka-tabs>section:first-child button.oka-tab-active:hover,
.container .flexbox-answer-details .oka-tabs>section:first-child button.oka-tab-active:hover {
  color: var(--oka-primary);
  /* cursor: default; */
}

[id^=SPAN] .leftHardAlignment .oka-tabs>section:first-child:focus,
.container .flexbox-answer-details .oka-tabs>section:first-child:focus {
  outline: none;
}

[id^=SPAN] .leftHardAlignment .oka-expands,
.container .flexbox-answer-details .oka-expands {
  margin-bottom: 2rem;
}

[id^=SPAN] .leftHardAlignment .oka-expands>article,
[id^=SPAN] .leftHardAlignment .oka-tabs>section>article,
.container .flexbox-answer-details .oka-expands>article,
.container .flexbox-answer-details .oka-tabs>section>article {
  /* transition: height 4s ease; */
  border: none;
  display: none;
  min-height: 8rem;
  padding: 1rem;
}

[id^=SPAN] .leftHardAlignment .oka-expands>article.oka-tab-active,
[id^=SPAN] .leftHardAlignment .oka-tabs>section>article.oka-tab-active,
.container .flexbox-answer-details .oka-expands>article.oka-tab-active,
.container .flexbox-answer-details .oka-tabs>section>article.oka-tab-active {
  /* transition: height 4s ease; */
  display: block;
}

[id^=SPAN] .leftHardAlignment .oka-expands article:first-child,
.container .flexbox-answer-details .oka-expands article:first-child {
  border-top: 2px solid var(--oka-border);
}

[id^=SPAN] .leftHardAlignment .oka-expands article:last-child,
[id^=SPAN] .leftHardAlignment .oka-tabs article:last-child,
.container .flexbox-answer-details .oka-expands article:last-child,
.container .flexbox-answer-details .oka-tabs article:last-child {
  border: none;
}

[id^=SPAN] .leftHardAlignment .oka-expands article>h3,
[id^=SPAN] .leftHardAlignment .oka-tabs article>h3,
.container .flexbox-answer-details .oka-expands article>h3,
.container .flexbox-answer-details .oka-tabs article>h3 {
  cursor: pointer;
  margin: 0 0 1.5rem;
  padding: 0;
  position: relative;
}

[id^=SPAN] .leftHardAlignment .oka-tabs article>h3,
.container .flexbox-answer-details .oka-tabs article>h3 {
  display: none;
}

[id^=SPAN] .leftHardAlignment .oka-expands article>div,
[id^=SPAN] .leftHardAlignment .oka-tabs article>div,
.container .flexbox-answer-details .oka-expands article>div,
.container .flexbox-answer-details .oka-tabs article>div {
  /* display: block; */
  /* opacity: 0; */
  /* transition: opacity 1s ease; */
  animation-direction: reverse;
  animation-duration: 300ms;
  animation-name: oka-opacity;
  height: 0;
  overflow: hidden;
  padding: 0;
}

[id^=SPAN] .leftHardAlignment .oka-expands article.oka-tab-active,
[id^=SPAN] .leftHardAlignment .oka-tabs article.oka-tab-active,
.container .flexbox-answer-details .oka-expands article.oka-tab-active,
.container .flexbox-answer-details .oka-tabs article.oka-tab-active {
  display: block;
}

[id^=SPAN] .leftHardAlignment .oka-expands article.oka-tab-active h3,
[id^=SPAN] .leftHardAlignment .oka-tabs article.oka-tab-active h3,
.container .flexbox-answer-details .oka-expands article.oka-tab-active h3,
.container .flexbox-answer-details .oka-tabs article.oka-tab-active h3 {
  /* cursor: inherit; */
  padding-bottom: 0;
}

[id^=SPAN] .leftHardAlignment .oka-expands article.oka-tab-active h3:hover,
[id^=SPAN] .leftHardAlignment .oka-tabs article.oka-tab-active h3:hover,
.container .flexbox-answer-details .oka-expands article.oka-tab-active h3:hover,
.container .flexbox-answer-details .oka-tabs article.oka-tab-active h3:hover {
  background: none;
}

[id^=SPAN] .leftHardAlignment .oka-expands article.oka-tab-active div,
[id^=SPAN] .leftHardAlignment .oka-tabs article.oka-tab-active div,
.container .flexbox-answer-details .oka-expands article.oka-tab-active div,
.container .flexbox-answer-details .oka-tabs article.oka-tab-active div {
  /* opacity: 1; */
  display: block;
  height: auto;
  padding: 0;
}

[id^=SPAN] .leftHardAlignment .oka-expands article.oka-tab-active p p:first-child,
[id^=SPAN] .leftHardAlignment .oka-tabs article.oka-tab-active p p:first-child,
.container .flexbox-answer-details .oka-expands article.oka-tab-active p p:first-child,
.container .flexbox-answer-details .oka-tabs article.oka-tab-active p p:first-child {
  margin-top: 0;
}

[id^=SPAN] .leftHardAlignment .oka-expands article.oka-tab-active p p:last-child,
[id^=SPAN] .leftHardAlignment .oka-tabs article.oka-tab-active p p:last-child,
.container .flexbox-answer-details .oka-expands article.oka-tab-active p p:last-child,
.container .flexbox-answer-details .oka-tabs article.oka-tab-active p p:last-child {
  margin-bottom: 0;
}

[id^=SPAN] .leftHardAlignment .oka-tabs article.oka-tab-active div section,
.container .flexbox-answer-details .oka-tabs article.oka-tab-active div section {
  /* border: 10px solid black; */
  /* display: block; */
  /* height: 32rem; */
  opacity: 1;
  padding: 0;
  position: relative;
}

[id^=SPAN] .leftHardAlignment .oka-expands article,
.container .flexbox-answer-details .oka-expands article {
  /* max-height: 5rem; */
  /* transition: max-height .1s ease-in; */
  border-bottom: 2px solid var(--oka-border);
  display: block;
  min-height: 3rem;
  overflow: hidden;
}

[id^=SPAN] .leftHardAlignment .oka-expands .oka-steps article,
.container .flexbox-answer-details .oka-expands .oka-steps article {
  display: flex;
}

[id^=SPAN] .leftHardAlignment .oka-expands article>h3,
.container .flexbox-answer-details .oka-expands article>h3 {
  display: block;
  margin: -1rem -1rem;
  height: 3rem;
  padding: 1rem;
  color: var(--oka-text);
  line-height: 1;
}

[id^=SPAN] .leftHardAlignment .oka-expands article>h3:hover,
.container .flexbox-answer-details .oka-expands article>h3:hover {
  color: var(--oka-secondary) !important;
}
/* !important needed because of smartstart CSS */

[id^=SPAN] .leftHardAlignment .oka-expands article div,
.container .flexbox-answer-details .oka-expands article div {
  padding: 1.25rem;
}

[id^=SPAN] .leftHardAlignment .oka-expands article>div,
.container .flexbox-answer-details .oka-expands article>div {
  height: 0;
  padding: 0;
  display: none;
  transition: opacity 1s ease;
}

[id^=SPAN] .leftHardAlignment .oka-expands article>h3:after,
.container .flexbox-answer-details .oka-expands article>h3:after {
  content: '\F0140';
  font-family: var(--oka-font-icon);
  opacity: 1;
  position: absolute;
  font-size: 1.5rem;
  line-height: .75;
  right: 1rem;
  transition: opacity 10s ease;
}

[id^=SPAN] .leftHardAlignment .oka-expands article.oka-tab-active h3,
.container .flexbox-answer-details .oka-expands article.oka-tab-active h3 {
  margin: -1rem -1rem 0 -1rem;
  color: var(--oka-primary) !important;
}
/* !important needed because of smartstart CSS */

[id^=SPAN] .leftHardAlignment .oka-expands article.oka-tab-active h3:hover,
.container .flexbox-answer-details .oka-expands article.oka-tab-active h3:hover {
  color: var(--oka-primary);
}

[id^=SPAN] .leftHardAlignment .oka-expands article.oka-tab-active h3:after,
.container .flexbox-answer-details .oka-expands article.oka-tab-active h3:after {
  content: '\F0143';
}

@keyframes oka-opacity {
  from {
      opacity: 1;
  }
  1% {
      opacity: 1;
  }
  99% {
      opacity: 0;
  }
  to {
      opacity: 0;
  }
}

@media (hover: none) {
  .remove-scroll {
    -webkit-margin-end: unset;
  }

  .container .flexbox-answer-details table {
    display: block;
    overflow-x: auto;
    position: relative;
    white-space: nowrap;
    width: 100%;
  }

  .container .flexbox-answer-details table tbody{
    width: 100%;
    display: table;
  }

  .container .flexbox-answer-details table thead+tbody{
    display: table-row-group;
  }
}

@media only screen and (max-width: 992px) {
  html {
    -webkit-margin-start: 1.5rem;
  }

  .remove-scroll {
    -webkit-margin-end: 1.5rem;
  }

  html>::-webkit-scrollbar {
    width: 1.5rem;
  }

  html>::-webkit-scrollbar-button:single-button:vertical {
    height:1.5rem;
  }

  [id^=SPAN] .leftHardAlignment .oka-alert,
  .container .flexbox-answer-details .oka-alert {
    width: 100%;
  }

  [id^=SPAN] .leftHardAlignment .oka-code,
  .container .flexbox-answer-details .oka-code {
    width: 100%;
  }

  [id^=SPAN] .leftHardAlignment table,
  .container .flexbox-answer-details table {
    display: block;
    overflow-x: auto;
    position: relative;
    white-space: nowrap;
    width: 100%;
  }

  [id^=SPAN] .leftHardAlignment table tbody,
  .container .flexbox-answer-details table tbody {
    width: 100%;
    display: table;
  }

  [id^=SPAN] .leftHardAlignment table thead+tbody,
  .container .flexbox-answer-details table thead+tbody {
    display: table-row-group;
  }

  [id^=SPAN] .leftHardAlignment hr,
  .container .flexbox-answer-details hr {
    width: 100%;
  }

  [id^=SPAN] .leftHardAlignment .oka-column,
  .container .flexbox-answer-details .oka-column {
    flex-direction: column;
  }

  [id^=SPAN] .leftHardAlignment .oka-steps article,
  .container .flexbox-answer-details .oka-steps article {
    flex-direction: column;
  }

  [id^=SPAN] .leftHardAlignment .oka-steps div,
  .container .flexbox-answer-details .oka-steps div {
    width: calc(100% - 3rem);
    margin:-3rem 0 0 3rem;
    padding: 0 0 0 1rem;
  }

  [id^=SPAN] .leftHardAlignment .oka-steps img,
  [id^=SPAN] .leftHardAlignment .oka-steps .oka-steps img,
  .container .flexbox-answer-details .oka-steps img,
  .container .flexbox-answer-details .oka-steps .oka-steps img {
    margin-top: 1rem;
    width: 100% !important;
  }
  /* images need !important on width and height to overrule inline styling */

  [id^=SPAN] .leftHardAlignment .oka-tabs>section:first-child,
  .container .flexbox-answer-details .oka-tabs>section:first-child {
    display: none;
  }

  [id^=SPAN] .leftHardAlignment .oka-tabs article,
  .container .flexbox-answer-details .oka-tabs article {
    border-bottom: 2px solid var(--oka-border);
    display: block;
    min-height: 3rem;
  }

  [id^=SPAN] .leftHardAlignment .oka-tabs article:first-child,
  .container .flexbox-answer-details .oka-tabs article:first-child {
    border-top: 2px solid var(--oka-border);
  }

  [id^=SPAN] .leftHardAlignment .oka-tabs article:last-child,
  .container .flexbox-answer-details .oka-tabs article:last-child {
    border-bottom: none;
  }

  [id^=SPAN] .leftHardAlignment .oka-tabs article>h3,
  .container .flexbox-answer-details .oka-tabs article>h3 {
    display: block;
    margin: 0;
  }

  [id^=SPAN] .leftHardAlignment .oka-tabs article>h3:hover,
  .container .flexbox-answer-details .oka-tabs article>h3:hover {
    color: var(--oka-secondary) !important;
  }


  [id^=SPAN] .leftHardAlignment .oka-tabs article h3,
  .container .flexbox-answer-details .oka-tabs article h3 {
    padding: 0rem 2rem 0 0;
  }

  [id^=SPAN] .leftHardAlignment .oka-tabs article>div,
  .container .flexbox-answer-details .oka-tabs article>div {
    height: 0;
    padding: 0;
    transition: opacity 1s ease;
  }

  [id^=SPAN] .leftHardAlignment .oka-tabs article>h3:after,
  .container .flexbox-answer-details .oka-tabs article>h3:after {
    content: '\F09D7';
    font-family: var(--oka-font-icon);
    opacity: 1;
    position: absolute;
    font-size: 1.5rem;
    line-height: .75;
    right: 0;
    transition: opacity 0.1s ease;
  }

  [id^=SPAN] .leftHardAlignment .oka-tabs article.oka-tab-active h3,
  .container .flexbox-answer-details .oka-tabs article.oka-tab-active h3 {
    margin: 0 0 1.5rem;
  }

  [id^=SPAN] .leftHardAlignment .oka-tabs article.oka-tab-active h3:after,
  .container .flexbox-answer-details .oka-tabs article.oka-tab-active h3:after {
    content: '\F09DD';
  }

}